/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles for your blog. The styles included
are for the listing and post templates, featured images and pagination.
Also for the post meta infromation like tags, author and published date
*********************************************************************************
****************************************************************************** */

/* TODO: Find a better place for this */
.content-wrapper {
  margin: 0 auto;
}

.blog_listing_page,.blog_post_page {
  background: #fff !important;
}
.blog_listing_page {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 55px;
  padding-bottom: 40px;
}
.listing_top_heading h1 {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 21px;
  text-align: center;
}
.blog-index .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
.blog_repeat_items {
    padding-bottom: 35px;
}
.fusion-date-and-formats {

}

.fusion-date-box.updated {

}
.fusion-date-box span:first-child {

}
.fusion-inline-sep {
    padding: 0 5px;
}
.featured_image_div img {
    width: 100%;
    max-width: 100%;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 320px;
    object-fit: cover;
}

.featured_image_div {
    display: block;
    margin-right: 0;
    border: 1px solid #eaeaea;
    border-bottom: none;
}
.fusion-post-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 1px;
  flex: 1 1 1px;
  background-color: rgba(255,255,255,0);
  border: 1px solid #ebeaea;
  border-bottom-width: 3px;
  padding: 30px 25px 25px 25px;
}

.fusion-post-content h2 {
    font-family: "MyriadPro-Regular", Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: none;
}
.fusion-post-content h2 a{
  text-decoration:none;
  color: #333;
}
.fusion-post-content-container {
    font-size: 13px;
}
.separador {
    height: 6px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    box-sizing: content-box;
    border-color: #e2e2e2;
    border-bottom-style: solid;
    border-top-style: solid;
    margin-top: 20px;
}


.blog-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "MyriadPro-Regular";
  margin-bottom: 3.3rem;
}
.blog-pagination__link {
  display: inline-flex;
  padding: .25rem .4rem;
  margin: 0 .1rem;
  color: {{ body_color }};
  text-decoration: none;
  border: 2px solid transparent;
  line-height: 1;
  border-radius: 7px;
}
.blog-pagination__link--active {
  border: 2px solid #B0C1D4;
}
.blog-pagination__link:hover,
.blog-pagination__link:focus {
  text-decoration: none;
}
.blog-pagination__prev-link,
.blog-pagination__next-link {
  display: inline-flex;
  align-items: center;
}
.blog-pagination__prev-link {
  text-align: right;
  margin-right: .25rem;
}
.blog-pagination__next-link {
  text-align: left;
  margin-left: .25rem;
}
.blog-pagination__prev-link--disabled,
.blog-pagination__next-link--disabled {
  color: #B0C1D4;
  pointer-events: none;
  cursor: default;
}
.blog-pagination__prev-link svg,
.blog-pagination__next-link svg {
  fill: {{ body_color }};
  margin: 0 5px;
}
.blog-pagination__prev-link--disabled svg,
.blog-pagination__next-link--disabled svg {
  fill: #B0C1D4;
}
.blog-pagination__number-link:hover,
.blog-pagination__number-link:focus {
  border: 2px solid #B0C1D4;
}


.blog-post__read-more a svg {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}


.blog-sidebar .filter-expand-link {
  position: relative;
  top: -15px;
  display: block;
  margin-bottom: 25px;
  text-transform: capitalize;
  text-align: center;
}

.blog-sidebar-post-listing ul li {
  padding-left: 2.3em;
  line-height: 24px;
  text-indent: -25px;
}

.blog-sidebar-post-listing li:before {
  position: relative;
  width: 22px;
  float: left;
  content: counter(list-item);
  font-size: 25px;
  font-weight: 600;
}

.blog-sidebar-post-listing li a {
  position: relative;
}

.blog-pagination.span12 {
  display: flex;
  margin-left: 0;
}
.blog_post_page {
  padding-top: 55px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}
.blog-post__title {
    font-family: "MyriadPro-Regular", Helvetica, sans-serif !important;
    font-weight: 400!important;
    line-height: 1.5;
    letter-spacing: 0px;
    font-style: normal;
    color: #333 !important;
    font-size: 28px !important;
    margin-top: 30px;
    margin-bottom: 28px;
}
.blog-post__body {
    font-size: 16px;
}
.featured_image_post img {
  width: 100%;
  max-width: 100%;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 30px;
}
.fusion-post-content-container p {
  margin: 0px;
  margin-top: 20px;
  color: #747474;
}

.blog_listing_page .content-wrapper,.blog_post_page .content-wrapper {
  padding-left: 0px;
  padding-right: 0px;
}

.blog_listing_recent {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 55px;
  padding-bottom: 40px;
  margin-top: 30px;
}
.featured_image_recent {
    height: 300px;
    overflow: hidden;
}
.recent-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.recent-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-title {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  margin-top: 15px;
}
h1, h2 {
    font-size: 33px!important;
    font-weight: 300!important;
    margin-bottom: 0.67em;
    color: #333!important;
}
a.fusion-read-more {
    color: #333;
    margin-top: 20px;
    display: block;
}
.blog-topics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    text-align: center;
    margin-bottom: 70px;
}
.blog-topic-image {
    width: 100%;
    height: 225px;
    background-repeat: no-repeat;
    background-size: cover;
  transition: all 1s;
}
.blog-topic h3 {
    font-size: 18px;
    font-weight: 300;
}
.blog-topic:hover {
    text-decoration: none!important;
}
.blog-topic-image:hover {
    transform: scale(1.1);
}
.blog-topic-image-wrap {
    overflow: hidden;
}
.blog-index .content-wrapper {
    -moz-column-count: 2;
    -moz-column-gap: 3%;
    -webkit-column-count: 2;
    -webkit-column-gap: 3%;
    column-count: 2;
    column-gap: 3%;
}
.blog-post__tags {
    display: inline-block;
}
.fusion-post-content h2 a {
    text-decoration: none;
    color: #333;
    font-family: "MyriadPro-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
}
a.fusion-read-more {
    color: #333;
}
.post-featured-image img {
    width: 100%;
}
.post-featured-image {
    max-height: 600px;
    height: 600px;
    background-size: cover;
    background-position: center center;
}
.fusion-meta-info {
    clear: both;
    overflow: hidden;
    margin-top: 60px;
    padding: 10px 0;
    border-top: 1px solid #e7e6e6;
    border-bottom: 1px solid #e7e6e6;
}
.single-navigation {
    min-height: 34px;
    line-height: 34px;
    border-top: 1px solid #e7e6e6;
    border-bottom: 1px solid #e7e6e6;
    margin-bottom: 60px;
    text-align: right;
}
.single-navigation a {
    display: inline-block;
    position: relative;
    color: #333;
    font-size: 13px;
    margin: 0 10px;
}
.nav-text i {
    font-size: 10px;
    margin: 0 5px;
    color: #333;
}
.related-articles h4 {
    font-size: 21px;
    color: #333;
    margin-top: 40px;
}
@media(max-width:800px){
  .fusion-post-content {
    margin: 0;
    padding-top: 20px;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .fusion-date-box.updated {
    margin-bottom: 3px;
  }
}
@media(max-width:480px){
  .recent-posts, .blog-topics {
    grid-template-columns: 1fr;
  }
  .blog_listing_recent {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .featured_image_recent {
    height: 200px;
  }
  .blog-index .content-wrapper {
    grid-template-columns: 1fr;
  }
}





