/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles to control how your
footer looks when it comes to spacing and other general styles.
*********************************************************************************
****************************************************************************** */
.custom-footer a {
  text-decoration:none;
}

.footer__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer__grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.footer__menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.footer__menu ul li {
    margin-bottom: 4px;
}
.custom-footer .fusion-social-networks-wrapper a {
    color: #3c425e;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    width: 40px;
    text-align: center;
    height: 40px;
    margin: 0 5px;
    padding: 10px;
    font-size: 21px;
    line-height: 21px;
}
.custom-footer .fusion-social-networks-wrapper a:hover {
    color: #3c425e!important;
}
.footer__logo img {
    max-width: 100%;
    width: 160px;
}

.footer_bottom {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;
  padding-bottom: 16px;
  z-index: 10;
  position: relative;
}
.fusion-copyright-content {
  margin: auto;
}
.fusion-copyright-content-wrapper{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-wrap: balance;
}

.footer_top {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30PX;
  padding-bottom: 25PX;
}
.fusion-column {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.footer_top_content {
  margin: 0 calc((15px)*-1);
  display: block;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.footer_top_content .fusion-column:nth-of-type(3n+1), .footer_top_content .fusion-flip-box-wrapper:nth-of-type(3n+1) {
  clear: both;
}
.footer_top_content h4 {
  font-family: "MyriadPro-Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.menu-menu-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-menu-container ul li {
  padding: 5px;
  border-bottom: 1px solid transparent;
  position: relative;
  display: block;
}

.footer_nav_section .navigation-primary .submenu .menu-item a:before {
  position: absolute;
  font-family: icomoon;
  content: '\f105';
  margin-left: -12px;
  color: #fff;
  transition-property: color,background-color,border-color;
  transition-duration: .2s;
  transition-timing-function: linear;
}
.menu-menu-container ul ul {
  margin-left: 15px;
  padding-top: 10px;
}

.menu-menu-container ul ul li a {
  font-family: "MyriadPro-Regular";
  font-size: 14px;
  display: block;
  position: relative;
  padding-top: 12px;
}
.menu-menu-container ul:first-child li:last-child>a {
  font-size: 14px;
}
.footer_nav_section a:before {
  position: absolute;
  font-family: icomoon;
  content: '\f105';
  margin-left: -12px;
}
.footer_nav_section a {
  font-family: "MyriadPro-Regular";
  text-decoration:none;
}
.menu-menu-container ul ul li:last-child {
  border-bottom: none;
}
.footer_nav_section a:hover {
  color: #23282e !important;
}
#toTop {
  height: 35px;
  position: fixed;
  text-align: center;
  width: 48px;
  opacity: .9;
  z-index: 100000;
  transition: all .2s ease-in-out 0s;
  line-height: 1;
  background-color: #333;
  bottom: 0;
  right: 75px;
  border-radius: 4px 4px 0 0;
  text-decoration:none;
}
#toTop:before {
  line-height: 35px;
  content: '\f106';
  -webkit-font-smoothing: antialiased;
  font-family: icomoon;
  font-size: 22px;
  color: #fff;
}
#toTop:hover {
  background-color: #449abc;
}
.footer_top_content img{
  max-width: 100%;
  height: auto;
}


@media (min-width: 0px){
  .footer-sm-4 {
    width: 33.33333333%;
    float:left;
  }
}

@media (min-width: 992px){
  .footer-md-4 {
    width: 33.33333333%;
    float:left;
  }
}

@media (min-width: 1200px){
  .footer-lg-4 {
    width: 33.33333333%;
    float:left;
  }
}

@media only screen and (max-width: 800px){
  .fusion-column {
    margin: 0 0 50px;
    border-right: none;
    border-left: none;
    width: 100%;
    float: none;
  }
  .last-items {
    margin: 0px;
  }
}

@media(max-width:767px){
  #toTop{
    display:none !important;
  }
}

@media only screen and (max-width: 640px){
  .last-items{
    margin: 0 0 50px;
  }
  .footer__container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fusion-social-networks-footer {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .footer__grid {
    justify-content: center;
  }
  .footer__menu {
    width: 100%;
  }
}
