/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles to control how your forms looks
throughout your site. Styles for form fields, buttons, inputs, etc.
*********************************************************************************
****************************************************************************** */

form {
  max-width: {{ form_max_width }};
  font-family: "MyriadPro-Regular";
}
.systems-page form{
  width:550px;
}

h3.form-title {
  margin: 0;
  padding: 0px 5px;
}
.hs-button, 
.button--primary {
  background-color: {{ form_button_color }};
  border-color: {{ form_button_color }};
  color: {{ form_button_text_color }};
  display: inline-block;
  text-decoration: none !important;
  margin-top: 15px;
  cursor: pointer;
  line-height: 17px;
  font-size: 14px;
  width: auto;
  font-family: "MyriadPro-Regular";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
}
.hs-button:hover, .button--primary:hover {
  background-color: {{ form_button_color_hover }};
  border-color: {{ form_button_color_hover }};
  color: {{ form_button_text_color }};
}
.hs-button:focus, .button--primary:focus  {
  background-color: {{ form_button_color_hover }};
  border-color: {{ form_button_color_hover }};
  color: {{ form_button_text_color }};
  outline: none;
}
.hs-button:active, .button--primary:active  {
  background-color: {{ form_button_color_active }};
  border-color: {{ form_button_color_active }};
}
.hs-button:hover, .hs-button:focus {
  background-color: {{ form_button_color_hover }};
  border-color: {{ form_button_color_hover }};
}
.hs-button:active {
  background-color: {{ form_button_color_active }};
  border-color: {{ form_button_color_active }};
}
body form .hs-input, 
body form .hs-search-field__input,
body form select,
body form #hs-pwd-widget-password,
body form textarea {
  color: {{ form_input_color }};
  padding-top: 0;
  padding-bottom: 0;
  height: 29px;
  font-size: 13px;
  padding: 8px 15px;
  width: 100%;
  line-height: normal;
}
body form .hs-input:hover, 
body form .hs-search-field__input:hover,
body form select:hover,
body form #hs-pwd-widget-password:hover,
body form textarea:hover {
  color: {{ form_input_color }};
}
body form .hs-input:focus, 
body form .hs-search-field__input:focus,
body form select:focus,
body form #hs-pwd-widget-password:focus,
body form textarea:focus {
  outline: none;
}
.hs-form label {
  color: {{ form_label_color }};
}
.hs-form-field label, .hs-form-field a {
  color: {{ form_label_color }};
}
a#hs_login_reset {
  color: {{ form_label_color }};
}

form .hs-error-msgs label {
  color: {{ form_error_label_color }};
}
.hs_error_rollup .hs-error-msgs label {
  margin-top: 0;
}
body form .hs-input[type=checkbox],
body form .hs-input[type=radio] {
  cursor: pointer;
  width: auto !important;
  height: auto !important;
  margin: 3px 5px 3px 0px;
  padding: 0 !important;
  line-height: normal;
  min-height: auto;
}
.hs-input[type=file] {
  background-color: #fff;
  padding: initial;
  border: initial;
  line-height: initial;
  box-shadow: none;
}
.hs-input:-moz-placeholder {
  color: {{ form_placeholder_color }};
}
.hs-input::-webkit-input-placeholder {
  color: {{ form_placeholder_color }};
}
.hs-input input,
.hs-input textarea {
  transition: border 0.2s linear;
}
.hs-input:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
}
textarea.hs-input {
  height: auto;
}
select[multiple].hs-input {
  height: inherit;
}
/* Force single column fields to full width inside of fieldsets */
fieldset.form-columns-1 .hs-input:not([type=radio]):not([type=checkbox]) {
  width: 100% !important;
}
body form .hs-input.form-input-error,
body form input.hs-input.error,
body form div.field.error input,
body form div.field.error textarea,
body form div.field.error .chzn-choices,
body form textarea.hs-input.error,
body form select.hs-input.error {
  border-color: {{ form_error_border_color }} !important;
}
body form .hs-input.form-input-error,
body form input.hs-input.error:focus,
body form div.field.error input:focus,
body form div.field.error textarea:focus,
body form div.field.error .chzn-choices:focus,
body form textarea.hs-input.error:focus,
body form select.hs-input.error:focus {
  border-color: {{ form_error_focus_border_color }} !important;
}
.actions {
  padding: 0;
}
.inputs-list {
  margin: 0 0 0px;
  width: 100%;
  padding-left: 0;
}
.inputs-list > li {
  display: block;
  padding: 0;
  width: 100%;
  padding-top: 0;
}
.inputs-list label {
  display: block;
  float: none;
  width: auto;
  padding: 0;
  text-align: left;
  white-space: normal;
  font-weight: normal;
}
.inputs-list:first-child {
  padding-top: 6px;
}
.inputs-list > li + li {
  padding-top: 2px;
}
.inputs-list label > input,
.inputs-list label > span {
  vertical-align: middle;
}
ul.no-list {
  list-style: none;
  padding-left: 0;
}
.hs_error_rollup {
  margin-top: 10px;
}
form .field:first-child {
  margin-top: 0;
}
.field {
  margin-bottom: 0;
  margin-top: 15px;
}
.hs-field-desc {
  color: {{ form_description_color }};
  margin: 0px 0px 6px;
}
.hs-form-required {
  color: red;
}
#hs-pwd-widget-password {
  margin-top: 0 !important;
}

.hs-richtext {
  margin-bottom: 3px;
  line-height: 1.2;
  font-size: {{ body_font_size }};
  color: {{ body_color }};
}
.hs-richtext hr {
  text-align: left;
  margin-left: 0;
  width: 91%;
}

.grecaptcha-badge {
  margin: 0 auto;
}

.email-correction, .email-validation {
  padding-top: 3px;
  font-size: 12px;
}
.email-correction a,
.email-validation a {
  cursor: pointer;
}

@media(max-width:767px){
  .email-edit,.systems-page .success {
    width: 100% !important;
  }
  .systems-page form{
    width:100%;
  }
  .systems-page h1{
    font-size:28px;
  }
  .systems-page h2{
    font-size:24px;
  }
}

@media (max-width: 400px),
  (min-device-width: 320px) and (max-device-width: 480px) {
    .email-correction form .form-columns-2 .hs-form-field,
    .email-correction form .form-columns-3 .hs-form-field,
    .email-validation form .form-columns-2 .hs-form-field,
    .email-validation form .form-columns-3 .hs-form-field {
      float: none;
      width: 100%;
    }
    .email-correction form .form-columns-2 .hs-form-field .hs-input,
    .email-correction form .form-columns-3 .hs-form-field .hs-input,
    .email-validation form .form-columns-2 .hs-form-field .hs-input,
    .email-validation form .form-columns-3 .hs-form-field .hs-input {
      width: 90%;
    }
    .email-correction form .form-columns-2 .hs-form-field input[type=checkbox],
    .email-correction form .form-columns-2 .hs-form-field input[type=radio],
    .email-correction form .form-columns-3 .hs-form-field input[type=checkbox],
    .email-correction form .form-columns-3 .hs-form-field input[type=radio],
    .email-validation form .form-columns-2 .hs-form-field input[type=checkbox],
    .email-validation form .form-columns-2 .hs-form-field input[type=radio],
    .email-validation form .form-columns-3 .hs-form-field input[type=checkbox],
    .email-validation form .form-columns-3 .hs-form-field input[type=radio] {
      width: 24px;
    }
}

.hs-button,
.hs-form-field input[type=text],
.hs-form-field input[type=email],
.hs-form-field input[type=phone],
.hs-form-field input[type=number],
.hs-form-field input[type=tel],
.hs-form-field input[type=date],
.hs-form-field textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hs-default-font-element,
.hs-main-font-element {
  font-family: "MyriadPro-Regular";
}
#hs-pwd-widget-password {
  height: 29px !important;
}

.form_width form {
  width: 100%;
}
