/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles to control how your headers look
when it comes to the logo, search field, language switcher and navigation.
You will also find the mobile menu styles below.
*********************************************************************************
****************************************************************************** */
.header__container.ds__header{
  gap: 50px;
}

.header__container.ds-header{
  gap: 20px;
}


.custom-header {
  position: relative;
  z-index: 999;
}
.header__container {
  max-width: {{ page_max_width }};
  margin: 0 auto;
  position: relative;
}

.ds__header,
.ds-header{
  display: flex;
  justify-content: center;
    align-items: center;
    gap: 15px 
}
.ds__header-text h3{
font-size: 16px;
color: #fff;
font-weight: 400;
margin: 0;

}

.ds__header-text h3 a{
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0;
  
  }
.ds_bottom,.ds-bottom{
padding: 5px 0;
}

.ds_contact {
  background: #fff;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 6px 0px 0;
  width: 30px;
  border-radius: 100%;
}

.header_top {
  border-bottom: 1px solid transparent;
  padding-left: 30px;
  padding-right: 30px;
  backface-visibility: hidden;
  transition: none;
  border-bottom-color: #449abc;
}

.fusion-logo {
  display: block;
  float: left;
  max-width: 100%;
  zoom: 1;
  margin: 31px 0;
}
.logo2 {
  float: right;
}
.fusion-secondary-header {
  border-top: 1px solid #449abc;
}
.logo2 img {
  width: 130px;
  margin: 20px 0px 10px 20px;
}
.header_bottom {
  top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  backface-visibility: hidden;
}
.custom-header.lp .inner_header_group {
  height: auto;
}
.header_topbar {
  background-color: #fafafa;
}
a.fusion-social-network-icon {
    color: #878787;
    font-size: 16px;
    padding-right: 10px;
}
.header_topbar {
    padding: 10px 0;
}
input.hs-search-field__input, input.hs-search-field__input::placeholder {
    color: #aaa9a9!important;
}
input.hs-search-field__input, input.hs-search-field__input::placeholder {
    color: #aaa9a9 !important;
    border-width: 1px 1px 1px 1px!important;
    border-color: #d2d2d2!important;
    border-radius: 6px!important;
    font-size: 16px!important;
    padding: 18px 8px!important;
}
.search-mobile {
    display: none;
  }
#search-input-mobile {
    display: none;
}
@media(min-width:801px){
  .scroll-header .header_bottom {
    position: fixed;
    top: 0;
    z-index: 210;
    max-width: 100%;
    width: 100%;
    box-shadow: rgb(0 0 0 / 12%) 0 1px 3px;
    background: #3b425e;
    border-bottom:0;
  }
  .scroll-header .header_top {
    display: none;
  }

  .inner_header_group {
    height: 190px;
  }
}


@media (max-width: 800px){
  .custom-menu-primary{
    display:none;
  }
  .ds__header-contact{
    display: none;
  }

  .header__container.ds__header{
    display: block;
  }
  .ds_bottom{
    background-color: transparent !important;
  }

  .header_top {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ds__header{
    justify-content: center !important;
  }
  .header__container{
    justify-content: space-between;

  }
  .header__container,
  .ds-header {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    width: 100%;
  }
  .fusion-logo {
    margin: 0px;
  }
  .logo2 img{
    width:60px;
  }
  .logo-1 img {
    width: 180px;
  }
  .fusion-mobile-menu-icons {
    display: block;
    margin-top: 0;
    position: relative;
    top: 0;
    right: 0;
    vertical-align: middle;
    text-align: right;
  }
  .fusion-mobile-menu-icons a {
    float: right;
    font-size: 21px;
    margin-left: 0;
    color: #dadada;
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    text-decoration:none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fusion-icon-bars:before {
    content: "\f0c9";
    color: #dadada;
  }
  .custom-menu-primary{
    padding-top: 0;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 0;
  }
  .header_bottom{
    border-bottom:none;
  }
  .child-trigger {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    background: 0 0;
    min-width: 50px;
    border: none;
    line-height: 15px;
    font-size: 13px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    right: 0;
    padding-right: 35px;
  }
  .child-trigger::after {
    display: block;
    margin: 0;
    content: '\e61f';
    font-family: icomoon;
  }
}
@media (max-width: 480px) {
  .header_topbar .fusion-alignleft {
    margin: 0 auto;
  }
    .fusion-logo.logo2 {
    display: none;
  }
  .header__container.clearfix:before, .header__container.clearfix:after {
    display: none;
  }
  .header-right-mobile {
    display: flex;
    align-items: center;
  }
  .search-mobile {
    display: block!important;
    color: #dadada;
    font-size: 16px;
    margin-right: 20px;
  }
}

@media(max-width:360px){
  .logo-1 img{
    width:151.61px;
  } 
}

@media(max-width:835px){
  .header__container.ds__header{
    gap: 17px;
  }
}
