/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles to control how your
menu items appear, including the link and hover effects.
*********************************************************************************
****************************************************************************** */

.custom-menu-primary .navigation-primary > .level-1 {
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.custom-menu-primary .navigation-primary .submenu .menu-item {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  padding-right: 45px;
}

.custom-menu-primary .navigation-primary .submenu .menu-item a {
    font-family: "MyriadPro-Regular";
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0px;
    font-style: normal;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    height: 40px;
    text-decoration: none;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
}
.custom-menu-primary .navigation-primary .submenu .menu-item:last-child>a {
  font-size: 14px;
}

.custom-menu-primary .navigation-primary .submenu .menu-item > ul .menu-item {
  float: none;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  width:100%;
}
.custom-menu-primary .navigation-primary .submenu .menu-item > ul .menu-item:last-child {
  margin-bottom: 0;
}
.custom-menu-primary .navigation-primary .submenu .menu-item > ul .menu-item a {
  font-family: "MyriadPro-Regular", Helvetica, sans-serif;
  font-weight: 300;
  padding-top: 7px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 7px;
  border-bottom-color: #dcdadb;
  font-size: 13px;
  line-height:2;
  padding: 7px 20px;
  text-indent: 0;
  height: auto;
  justify-content:flex-start;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,height 0s,line-height 0s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.scroll-header .custom-menu-primary .navigation-primary .submenu .menu-item a {
  color: #fff;
}

.scroll-header .custom-menu-primary .navigation-primary .submenu .menu-item{
  padding-right: 57px;
}

.scroll-header .custom-menu-primary .navigation-primary .submenu .menu-item a{
  font-size:13px;
}

.scroll-header .custom-menu-primary .navigation-primary .submenu .menu-item:last-child>a{
  font-size:14px;
}

.triangle-container {
  display: none;
}
.custom-menu-primary .navigation-primary .submenu .menu-item:last-child {
  padding-right: 0;
}
.submenu-toggle {
  display: none;
}
.custom-menu-primary .navigation-primary > .level-1:after {
  content: " ";
  display: table;
  clear: both;
}
.custom-menu-primary .navigation-primary > .level-1:before {
  content: " ";
  display: table;
}
.custom-menu-primary .navigation-primary .submenu .menu-item:hover > ul.submenu {
  opacity: 1;
  visibility: visible;
}
.custom-menu-primary .navigation-primary .submenu .menu-item ul ul {
  left: 100%;
  top: 0;
}
.custom-menu-primary .navigation-primary .submenu .menu-item > ul .has-submenu.menu-item > a {
  width: 100%;
  position: relative;
}
.custom-menu-primary .navigation-primary .submenu .menu-item > ul .has-submenu.menu-item:hover > a:after {
  transform: translate3d(-5px, 0, 0);
  -webkit-transform: translate3d(-5px, 0, 0);
}
.header_row {
  display: inline-block;
  margin-right: 13px;
  font-size:14px;
  line-height:26px;
}
.header__column {
  text-align: right;
}
@media (min-width: 801px){
  .header_close {
    display: none !important;
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item ul {
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    line-height: 2;
    z-index: 1;
    list-style: none;
    margin: 0;
    font-family: "MyriadPro-Regular";
    font-weight: 400;
    width: 200px;
    letter-spacing: 0px;
    font-style: normal;
    /*     left: -155px; */
    box-shadow: 1px 1px 30px rgb(0 0 0 / 6%);
    padding: 0;
    transition: opacity .2s ease-in;
  }
}


@media(max-width:1300px){
  .custom-menu-primary .navigation-primary .submenu .menu-item ul{
    left:-155px;
  }
}

@media (max-width: 800px){
  .header__column {
    text-align: left;
  }
  .header_row {
    display: block;
    margin: 0;
    width: 100%;
  }
  .custom-menu-primary .navigation-primary > .level-1 {
    display: block;
    width: 100%;
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item {
    margin-left: 0;
    margin-right: 0;
    display: block;
    width: 100%;
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item a {
    height: 35px;
    background-color: #f9f9f9;
    font-size: 13px;
    padding:0px 12px;
    letter-spacing: 0px;
    padding-left: 30px;
    text-align: left;
    font-family: "MyriadPro-Regular";
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
    color: #333;
    border-bottom: 1px solid transparent;
    border-color: #dadada;
    display: block;
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item{
    position: relative;
    font-size: 12px;
    line-height: normal;
    padding-right:0px;
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item ul {
    display: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item > ul .has-submenu.menu-item .menu-arrow {
    right: 0px;
    top: 0;
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item > ul .has-submenu.menu-item > a:after {
    right: 8px;
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item ul ul {
    display: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .header__column {
    display: none;
  }
  .menu-arrow {
    position: absolute;
    height: 20px;
    width: 30px;
    margin-left: -8px;
    z-index: 99;
    cursor: pointer;
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item>ul .menu-item a {
    height: 35px;
    background-color: #f9f9f9;
    border-color: #dadada;
    display: block;
    padding: 0 12px;
    color: #333;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0px;
    font-family: "MyriadPro-Regular";
    font-weight: 400;
    font-style: normal;
    padding-left: 39px;
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item>ul .menu-item a:before {
    content: "-";
    margin-right: 6.5px;
    color: #333;
  }
  /*.custom-menu-primary .navigation-primary .submenu .menu-item:last-child>a{
    padding-left: 35px;
  }*/
}
