/* Social sharing module */

/* "/FontPackagingGroup_April2021/modules/social_sharing" */

div.social-sharing {
  text-align: center;
  padding: 50px 0 50px 0;
}

img.hs-img-widget.hs-img-sharing-24 {
  height: 50px;
  width: 50px;
}

    