/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles to control how your
system pages look. These pages include the error pages (404 and 500),
password protected content and search listing results.
*********************************************************************************
****************************************************************************** */

.error-page {
  padding: 10rem 0;
  text-align: center;
  position: relative;
}
.error-page:before {
  content: attr(data-error);
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: {{ secondary_font_family }};
  font-size: 40vw;
  font-weight: bold;
  color: #ccc;
  z-index: -1;
}


/* register page */
.introduction{
  margin-bottom: 0;
}
.system_reg-container{
  display: flex;
  justify-content: space-between;
}
.system_reg-img{
  width: 50%;
}
.system_reg-wrapper{
  padding: 50px;
}
.system_reg-img img {
  height: 100%;
  object-fit: cover;
}
.reg_form-container{
border: 2px solid #DDDDDD;
border-radius: 10px;
padding: 30px;
}
.system_reg-wrapper h4{
  text-align: center;
  color: #111726;
  font-size: 40px;
  font-weight: 600;
}


.reg_form-container .hs-form-field input,
.reg_form-container .hs-form-field textarea{
  padding: 20px 5px;
  margin-top: 9px;
}

.reg_form-container .hs-error-msgs{
  margin: 0;
}
.reg_form-container .hs-error-msgs li label{
  font-size: 12px;
}

.reg_form-container .hs-register-widget-show-password,
.reg_form-container .hs-login-widget-show-password,
#login-form form a#hs_login_reset{
  display: block;
  font-size: 11px;
  color: #449ABC;
}
#login-form form a#hs_login_reset{
  margin: 7px 0;
}
@media screen and (min-width: 1100px) {
  .error-page:before {
    font-size: 20rem;
  }
}
.error-page_heading {
  margin-bottom: 1rem;
}

.systems-page {
  padding: 3rem 0px;
}
.systems-page .success {
  display: inline-block;
  margin: 2rem 0;
  width: 500px;
  background-color: #CDE3CC;
  border: 1.5px solid #4F7D24;
  border-radius: 6px;
  font-size: .75rem;
  color: #4F7D24;
  padding: .1rem .75rem;
}

.hs-search-results {
  margin-top: 2rem;
}
ul.hs-search-results__listing li {
  margin-bottom: 2rem;
}
.hs-search-results__title {
  font-family: {{ headings_font_family }};
  font-size: 1.25rem;
  color: {{ body_color }};
  text-decoration: underline;
  margin-bottom: .25rem;
}
.hs-search-results__title:hover {
  text-decoration: none;
}
.hs-search-results__description {
  padding-top: .5rem;
}
.hs-search-highlight {
  font-weight: bold;
}
.hs-search-results__pagination a {
  color: {{ body_color }};
}

.email-prefs .item.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.email-prefs .item.disabled input:disabled {
  cursor: not-allowed;
}


@media (max-width: 990px) {
  .system_reg-img {
    width: 100%;
  }

  .system_reg-container {
    flex-direction: column;
  }


}

@media (max-width:768px) {
  .system_reg-wrapper {
    padding: 20px 30px;
  }

  .system_reg-wrapper h4 {
    font-size: 32px;
  }

}

@media (max-width:600px) {
  .system_reg-wrapper {
    padding: 25px;
  }
}


@media (max-width:498px) {


  .system_reg-wrapper h4 {
    font-size: 26px;
  }
}