/* ******************************************************************************
*********************************************************************************
This file contains all the neccessary styles to control how your
fonts apppear throughout your site.
*********************************************************************************
****************************************************************************** */
@font-face { font-family: "Roboto"; 
  src: url("https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxP.ttf") format("truetype");
  font-style: normal; 
  font-weight: 400;
  font-display: block; 
}

@font-face { font-family: "Roboto Condensed"; 
  src: url("https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
  font-display: block; 
}

@font-face { font-family: "Font Awesome 5 Free"; 
  src: url("//f.hubspotusercontent20.net/hubfs/9149224/FontPackagingGroup_April2021/fonts/icomoon.eot") format("embedded-opentype"), 
    url("{{ get_asset_url('../fonts/fa-solid-900.woff2') }}") format("woff2"),
      url("{{ get_asset_url('../fonts/fa-solid-900.woff') }}") format("woff"),
        url("{{ get_asset_url('../fonts/fa-solid-900.ttf') }}") format("truetype"); 
          font-style: normal; 
          font-weight: 900; 
          font-display: block; 
          }

@font-face { font-family: "icomoon"; 
   src: url("//f.hubspotusercontent20.net/hubfs/9149224/FontPackagingGroup_April2021/fonts/icomoon.eot") format("embedded-opentype"), 
    url("{{ get_asset_url('../fonts/icomoon.woff') }}") format("woff"), 
      url("{{ get_asset_url('../fonts/icomoon.woff2') }}") format("woff2"), 
        url("{{ get_asset_url('../fonts/icomoon.ttf') }}") format("truetype");
          font-style: normal;
          font-weight: 400; 
          font-display: block;
          }

@font-face { font-family: "PT Sans";
  src: url("https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KEwA.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
  font-display: block;
}

@font-face { font-family: "MyriadPro-Regular"; 
  src: url("{{ get_asset_url('/FontPackagingGroup_April2021/fonts/MYRIADPRO-REGULAR.woff') }}") format("woff"); 
  font-style: normal; 
  font-weight: 400; 
  font-display: block; 
}


html {
  font-size: {{ base_font_size }};
}

body {
  font-family: "MyriadPro-Regular";
  font-size: {{ body_font_size }};
  color: {{ body_color }};
  line-height: normal;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "MyriadPro-Regular";
}

/* Anchor Links */
a {
  color: {{ link_color }};
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: {{ headings_font_weight }};
  font-family: {{ headings_font_family }};
  color: {{ headings_color }};
  word-break: break-word;
}

h1 {
  font-size: {{ h1_font_size }};
  line-height: 1.4;
}

h2 {
  font-size: {{ h2_font_size }};
  line-height: 1.5;
}

h3 {
  font-size: {{ h3_font_size }};
  line-height: 1.5;
}

h4 {
  font-family: "MyriadPro-Regular";
  font-weight: normal;
  font-size: {{ h4_font_size }};
  line-height: 1.5;
}

h5 {
  font-size: {{ h5_font_size }};
  line-height: 1.5;
}

h6 {
  font-size: {{ h6_font_size }};
  line-height: 1.5;
}

strong {
  font-weight: 700;
}

code {
  vertical-align: bottom;
}
/* 
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li,
ol li {
  line-height: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
} */

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-left: 2px solid #A9A9A9;
  padding-left: 15px;
}

/* Horizontal Rules */
hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: none;
}

/* TODO */
small {

}

/* TODO */
mark {

}

sup,
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

:focus {
  outline: auto;
  outline-color: green;
}

.disable-focus-styles :focus {
  outline: none;
}

