body::-webkit-scrollbar {
    display: none;
}

.document-search-container,
.filter_container,
.table-container,
.table-content,
.table_container-document,
.search_container,
.search-wrapper,
.fliter_search-container,
.filter_dropdown,
.contact_container,
.title_wrapper,
.table_container,
.pagination,
.padidos-pagination,
.breadcrumbs-content,
.breadcrumbs-wrapper,
.download-document,
.download-image,
.document-elminator,
.download-button_container,
.document-filter-wrapper,
.document-selection,
.documnet-download,
.filter_documnet-container {
    display: flex;
}

.breadcrumbs-wrapper,
.breadcrumbs-content,
.table_container-document {
    gap: 20px;
}

.document-search-container {
    gap: 20px;
    align-items: center;
}

.filter-search-document {
    align-items: end;
}

.document-selection {
    margin-top: 25px;
}

.pagination img,
.padidos-pagination img {
    width: 18px;
    cursor: pointer;
    height: 18px;
}

.documnet-download {
    text-decoration: none !important;
}

.documnet-download img {
    width: 15px;
    height: 15px;
}

.documnet-download {
    gap: 15px;
}

#counter {
    padding: 2px 25px;
    margin: 0 5px;
    border-radius: 10px;
    background-color: #EAEAEA;
}

.document-filter-wrapper,
.document-selection {
    gap: 45px;
}

.custom-object-section p {
    margin: 0;
}

.body-wrapper {
    position: relative;
}

.download-document {
    padding: 20px 0;
    justify-content: center;
}

.custom-object-section {
    margin-top: 40px;
}



.breadcrumbs-vertical_line {
    width: 2px;
    height: 17px;
    background-color: #3C425E;
}

.breadcrumbs_dot {
    width: 5px;
    height: 5px;
    display: block;
    background: #3C425E;
    border-radius: 100%;
}

.document-elminator,
.documnet-download,
.breadcrumbs-content {
    align-items: center;
}



.document-elminator {
    gap: 10px;
}

.breadcrumbs {
    color: #3C425E;
    font-weight: 600;
}

.title_wrapper {
    justify-content: space-between;
    padding: 30px 0 40px;
}

.title_wrapper h2 {
    margin: 0;
    font-weight: 600 !important;
    color: #111726 !important;
}

.contact_container {
    align-items: center;
    gap: 9px;
}

.bread-title a {
    color: #3C425E;
    text-decoration: none;
}

.contact_container p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.filter_documnet-container {
    flex-direction: column;
    gap: 18px;
}

.filter_container {
    gap: 35px;
}

.filter_dropdown {
    align-items: center;
    background: #ddd;
    border-radius: 20px;
    height: 25px;
    justify-content: center;
    padding: 15px 0px;
    width: auto;
}

.filter-dropdown {
    border: 0;
    background-color: transparent;
    outline: none;
    padding: 15px 90px;
    margin: 0 10px;

}

.filter_container p,
.filter_documnet-container p {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
}

.fliter_search-container {
    justify-content: space-between;
}

.search-wrapper {
    border: 1px solid;
    padding: 3px 20px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
}

.search-wrapper input {
    border: 0;
    outline: 0;
}

.search_container {
    align-items: end;
}

.row_name {
    font-weight: 600 !important;
}

.table-wrapper-document {

    box-shadow: 0px 0px 17.399999618530273px 0px #0000001F;
}

.table-wrapper-document,
.table-document-wrapper {
    gap: 1.95%;
    grid-template-columns: 5% 17% 17% 17% 17% 17%;
}

.table-wrapper {
    grid-template-columns: repeat(6, 16%);
    gap: .69%;
}

.table-wrapper,
.table-document-wrapper,
.table-wrapper-document {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.table_container-document {
    flex-direction: column;
    padding: 30px 0;
}

.selectRow,
.popup-form_track input,
#selectAll {
    accent-color: #3C425E;
    background-color: #3C425E;

}

.table-content {
    padding: 14px 0px 0 0;
    gap: 10px;
    flex-direction: column;
}

.table-container {
    gap: 15px;
}

.data_container {
    box-shadow: 0px 0px 17.399999618530273px 0px #0000001F;
    width: 86%;
    display: grid;
    grid-template-columns: repeat(5, 19%);
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 1.23%;
    padding-inline: 8px;
}

.download-button_container {
    width: 14%;
    background: #449ABC;
    padding: 20px 0;
    justify-content: center;

}

.download-image {
    align-items: center;
}

.table-title span {
    color: #3C425E;
    font-weight: 600;
}

.data_container span {
    text-align: center;
    color: #3C425E;
    word-break: break-all;
    text-wrap: balance;
}

.table-main_container {
    width: 100%;
    overflow: auto;
}

.pagination,
.padidos-pagination {
    justify-content: center;
    margin: 25px 0;
    gap: 15px;
    align-items: center;
}

.pagination button,
.padidos-pagination button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    color: #3C425E;
}

.pagination button.active,
.padidos-pagination button.active {
    font-weight: bold;
}

.search-icon-container {
    width: 15px;
    height: 15px;

}

.search-icon-container img {
    width: 100%;
    height: 100%;
}

.table_container {
    flex-direction: column;
    gap: 25px;
    padding: 50px 0 20px;
}

.table-content {
    position: relative;
}

/* CSS for loader */
.loader {
    border: 14px solid #f3f3f3;
    border-top: 14px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Hide loader by default */
.loader-hidden {
    display: block;
}

@media(max-width:1092px) {
    .filter-search-document {
        flex-direction: column;
        align-items: baseline;
        gap: 28px;
    }
}


@media(max-width:710px) {

    .document-filter-wrapper {
        flex-direction: column;
        gap: 15px;
    }
}


@media(max-width:730px) {
    .table_container {
        width: 800px;
    }

    .table-main_container::-webkit-scrollbar {
        width: 2px !important;
        border-radius: 10px;
        background-color: #EAEAEA;
    }


    .table-main_container::-webkit-scrollbar-thumb {
        background-color: #3C425E;

    }

    .table-main_container {
        margin-bottom: 3rem;
    }
}


@media(max-width:720px) {

    .filter_container {
        flex-direction: column;
        gap: 15px;
    }
}


@media(max-width:585px) {

    .filter-dropdown {
        padding: 15px 70px;
    }
}


@media(max-width:420px) {
    .document-search-container {
        flex-direction: column;
        align-items: baseline;
    }

    .document-selection {
        flex-direction: column;
        gap: 20px !important;
    }
}

@media(max-width:510px) {

    .search-wrapper {
        justify-content: end;
    }

    .search_container {
        display: block;
    }

    .fliter_search-container {
        justify-content: inherit;
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width:355px) {

    .filter-dropdown {
        padding: 15px 50px;
    }
}

@media(max-width:380px) {
    .title_wrapper {
        flex-direction: column;
        gap: 14px;
    }
}