

.ds_cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.ds_cards-wrapper a{
text-decoration: none;
}

.ds_card-icon {
    background: #3c425e;
    display: flex;
    height: 60px;
    padding: 15px;
    justify-content: center;
    width: 60px;
    clip-path: circle(50%);

}
.dashboard-cards_container{
    width: 150px;
    height: 180px;
    box-shadow: 6px 4px 26.700000762939453px 0 #0000001a;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
.dashboard-cards {
    padding: 40px 0 60px;
}

.ds_card-content p{
    margin: 0;
    color: #3C425E;
    font-weight: 700;
}

@media (max-width:750px){
    .dashboard-cards {
        padding: 20px 0 60px;
    }
}