.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}
.descargar-pdf-popup, .hubspot-form .hs-button {
    display: block;
    width: 100%;
    background-color: rgba(59,66,94,1.0);
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
    font-size: 16px;
}
.descargar-pdf-popup img {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
}
.submitted-message {
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
}
.hubspot-form label, .hubspot-form input {
    font-size: 16px!important;
}
.hubspot-form input {
    padding: 20px 15px!important;
    margin-top: 5px;
}
.legal-consent-container {
    margin-top: 10px;
}