/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/
  img {
      max-width: 100%;
  }
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .body-container-wrapper {
    margin: 60px 0;
  }
  .body-container-wrapper.single-product {
    margin-top: 0;
  }
  .product-header {
    background-color: rgba(234, 234, 234, 1) !important;
    padding: 30px 0;
  }
  .single-product h1, .single-product h2 {
    font-weight: 500!important;
    margin: 0;
    color: #111726!important;
  }
  .product-desc {
    font-size: 16px;
  }
  .product-image {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .slick-slide img {
    display: block;
    margin: 0 auto;
  }
  .slick-prev:before, .slick-next:before {
    color: #777!important;
  }
  .slick-prev {
    left: 0px!important;
    z-index: 9;
  }
  .slick-next {
    right: 0!important;
    z-index: 9;
  }
  .product-body {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 60px;
    margin-top: 40px;
  }
  .product-pdf {
    display: block;
    font-size: 16px;
    width: 100%;
    background-color: rgba(59,66,94,1.0);
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
  }
  .product-pdf img {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
  }
  .product-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .breadcrumbs {
    font-size: 16px;
  }
  .related-products {
    margin-top: 60px;
  }
  .related-products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 80px;
  }
  .related-products-grid img {
    max-width: 100%;
  }
  .related-products h2 {
    margin-bottom: 20px;
  }
  .container.product-video {
    text-align: center;
    margin-top: 40px;
  }
  .container.product-video iframe {
    width: 700px;
    height: 400px;
  }
  @media (max-width: 480px) {
    .product-body {
      display: block;
    }
    .breadcrumbs {
      font-size: 12px;
    }
    .related-products-grid {
      grid-template-columns: 1fr;
    }
    .product-header {
        margin-top: 0;
    }
    .container.product-video iframe {
        width: 100%;
        height: 240px;
    }
    .slick-prev {
        left: -15px!important;
        z-index: 9;
    }
    .slick-next {
        right: -15px!important;
        z-index: 9;
    }
  }