/* ******************************************************************************
*********************************************************************************
Use this file to override any of the CSS styles preset in the themed
stylesheets or you can add your own custom styles.
*********************************************************************************
****************************************************************************** */

/* Test */

{## Table of contents

  1. _dnd_areas
  2. _typography
  3. _forms
  4. _tabels
  5. _header
  6. _footer
  7. _blog
  8. _system_pages
  9. _modules

##}

{% if theme.typography.body_font.body_text_select == "google" %}{% set body_size = theme.typography.body_font.body_font.size.value %}{% set body_color = theme.typography.body_font.body_font.color %}{% set body_variation = theme.typography.body_font.body_font.variation %}{% set body_font = theme.typography.body_font.body_font.font %}{% else %}{% set body_size = theme.typography.body_font.body_text_font_size %}{% set body_color = theme.typography.body_font.body_text_font_color.color %}{% set body_font = theme.typography.body_font.body_text_font %}{% endif %}
{% if theme.typography.h1_font.h1_select == "google" %}{% set h1_size = theme.typography.h1_font.heading_one.size.value %}{% set h1_color = theme.typography.h1_font.heading_one.color %}{% set h1_variation = theme.typography.h1_font.heading_one.variation %}{% set h1_font = theme.typography.h1_font.heading_one.font %}{% else %}{% set h1_color = theme.typography.h1_font.h1_font_color.color %}{% set h1_size = theme.typography.h1_font.h1_font_size %}{% set h1_font = theme.typography.h1_font.h1_font_family %}{% endif %}
{% if theme.typography.h2_font.h2_select == "google" %}{% set h2_size = theme.typography.h2_font.heading_two.size.value %}{% set h2_color = theme.typography.h2_font.heading_two.color %}{% set h2_variation = theme.typography.h2_font.heading_two.variation %}{% set h2_font = theme.typography.h2_font.heading_two.font %}{% else %}{% set h2_color = theme.typography.h2_font.h2_font_color.color %}{% set h2_size = theme.typography.h2_font.h2_font_size %}{% set h2_font = theme.typography.h2_font.h2_font_family %}{% endif %}
{% if theme.typography.h3_font.h3_select == "google" %}{% set h3_size = theme.typography.h3_font.heading_three.size.value %}{% set h3_color = theme.typography.h3_font.heading_three.color %}{% set h3_variation = theme.typography.h3_font.heading_three.variation %}{% set h3_font = theme.typography.h3_font.heading_three.font %}{% else %}{% set h3_color = theme.typography.h3_font.h3_font_color.color %}{% set h3_size = theme.typography.h3_font.h3_font_size %}{% set h3_font = theme.typography.h3_font.h3_font_family %}{% endif %}
{% if theme.typography.h4_font.h4_select == "google" %}{% set h4_size = theme.typography.h4_font.heading_four.size.value %}{% set h4_color = theme.typography.h4_font.heading_four.color %}{% set h4_variation = theme.typography.h4_font.heading_four.variation %}{% set h4_font = theme.typography.h4_font.heading_four.font %}{% else %}{% set h4_color = theme.typography.h4_font.h4_font_color.color %}{% set h4_size = theme.typography.h4_font.h4_font_size %}{% set h4_font = theme.typography.h4_font.h4_font_family %}{% endif %}
{% if theme.typography.h5_font.h5_select == "google" %}{% set h5_size = theme.typography.h5_font.heading_five.size.value %}{% set h5_color = theme.typography.h5_font.heading_five.color %}{% set h5_variation = theme.typography.h5_font.heading_five.variation %}{% set h5_font = theme.typography.h5_font.heading_five.font %}{% else %}{% set h5_color = theme.typography.h5_font.h5_font_color.color %}{% set h5_size = theme.typography.h5_font.h5_font_size %}{% set h5_font = theme.typography.h5_font.h5_font_family %}{% endif %}
{% if theme.typography.h6_font.h6_select == "google" %}{% set h6_size = theme.typography.h6_font.heading_six.size.value %}{% set h6_color = theme.typography.h6_font.heading_six.color %}{% set h6_variation = theme.typography.h6_font.heading_six.variation %}{% set h6_font = theme.typography.h6_font.heading_six.font %}{% else %}{% set h6_color = theme.typography.h6_font.h6_font_color.color %}{% set h6_size = theme.typography.h6_font.h6_font_size %}{% set h6_font = theme.typography.h6_font.h6_font_family %}{% endif %}


{###########################################################################}
{##############################   _dnd_areas   #############################}
{###########################################################################}

.dnd-section > .row-fluid {
  max-width: {{ theme.spacing.max_width }}px;
}

.dnd-section {
  padding-bottom: {{ theme.spacing.vertical_spacing }}px;
  padding-top: {{ theme.spacing.vertical_spacing }}px;
}

.body-container__homepage .dnd-section:nth-child(odd) {
  background-color: {{ theme.global_colors.secondary_color.color }};
}
.page-center {
  max-width: {{ theme.spacing.max_width }}px;
}
{###########################################################################}
{#############################   _typography   #############################}
{###########################################################################}

html {
  font-size: {{ body_size }};
}

body {
  color: {{ body_color }};
  font-family: "MyriadPro-Regular";
  font-size: {{ body_size }}{{ theme.typography.body_font.size.units }}px;
  font-weight: {{ theme.typography.body_font.body_font_weight }};
}

p {
  font-family: "MyriadPro-Regular";
  font-weight: {{ theme.typography.body_font.body_font_weight }}
}

a {
  font-family: "MyriadPro-Regular";
  color: rgba({{ theme.typography.link_color.color|convert_rgb }}, {{ theme.typography.link_opacity * 0.01 }});
  cursor: pointer;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

a:hover,
a:focus {
  color:{{ theme.typography.link_hover_color.color }};
}

a:active {
  color: rgba({{ color_variant(theme.typography.link_color.color, 40)|convert_rgb }}, {{ theme.typography.link_opacity * 0.01 }});
}

h1 {
  color: {{ h1_color }};
  font-family: "MyriadPro-Regular";
  font-size: {{ h1_size }}px;
  font-weight: {{ theme.typography.h1_font.h1_font_weight }};
}

@media(max-width: 767px) {
  h1 {
    font-size: {{ h1_size * 0.85 }}px;
  }
}

h2 {
  color: {{ h2_color }};
  font-family: "MyriadPro-Regular";
  font-size: {{ h2_size }}px;
  font-weight: {{ theme.typography.h2_font.h2_font_weight }};
}

@media(max-width: 767px) {
  h2 {
    font-size: {{ h2_size * 0.85 }}px;
  }
}

h3 {
  color: {{ h3_color }};
  font-family: "MyriadPro-Regular";
  font-size: {{ h3_size }}px;
  font-weight: {{ theme.typography.h3_font.h3_font_weight }};
}

@media(max-width: 767px) {
  h3 {
    font-size: {{ h3_size * 0.85 }}px;
  }
}

h4 {
  color: {{ h4_color }};
  font-family: "MyriadPro-Regular";
  font-size: {{ h4_size }}px;
  font-weight: {{ theme.typography.h4_font.h4_font_weight }};
}

@media(max-width: 767px) {
  h4 {
    font-size: {{ h4_size * 0.85 }}px;
  }
}

h5 {
  color: {{ h5_color }};
  font-family: "MyriadPro-Regular";
  font-size: {{ h5_size }}px;
  font-weight: {{ theme.typography.h5_font.h5_font_weight }};
}

h6 {
  color: {{ h6_color }};
  font-family: "MyriadPro-Regular";
  font-size: {{ h6_size }}px;
  font-weight: {{ theme.typography.h6_font.h6_font_weight }};
}

blockquote {
  border-left: 10px solid {{ theme.global_colors.secondary_color.color }};;
}

{###########################################################################}
{###############################   _forms    ###############################}
{###########################################################################}

form, 
.submitted-message {
  border: 1px solid;
  border-color: rgba({{ theme.forms.form_border_color.color|convert_rgb }}, {{ theme.forms.form_border_color.opacity * 0.01 }}) ;
  background-color: rgba({{ theme.forms.form_background_color.color|convert_rgb }}, {{ theme.forms.form_background_color.opacity * 0.01 }});
  font-family: {{ body_font }};
  padding: 15px 5px;
}
h3.form-title {
  background-color: rgba({{ theme.forms.header_background_color.color|convert_rgb }}, {{ theme.forms.header_background_color.opacity * 0.01 }});
  color: rgba({{ theme.forms.header_text_color.color|convert_rgb }}, {{ theme.forms.header_text_color.opacity * 0.01 }});
}
.hs-button, 
.button--primary {
  background-color: rgba({{ theme.buttons.background_color.color|convert_rgb }}, {{ theme.buttons.background_color.opacity * 0.01 }});
  border-radius: {{ theme.buttons.border_radius }}px;
  border: {{ theme.buttons.border_width }}px solid;
  color: rgba({{ theme.buttons.text_color.color|convert_rgb }}, {{ theme.buttons.text_color.opacity * 0.01 }});
  border-color: rgba({{ theme.buttons.border_color.color|convert_rgb }}, {{ theme.buttons.border_color.opacity * 0.01 }});
  padding-left: {{ theme.buttons.horizontal_padding }}px;
  padding-right: {{ theme.buttons.horizontal_padding }}px;
  padding-top: {{ theme.buttons.vertical_padding }}px;
  padding-bottom: {{ theme.buttons.vertical_padding }}px;
}
.hs-button:hover, .button--primary:hover {
  background-color: rgba({{ theme.buttons.background_hover_color.color|convert_rgb }}, {{ theme.buttons.background_hover_color.opacity * 0.01 }});
  border-color: rgba({{ theme.buttons.border_hover_color.color|convert_rgb }}, {{ theme.buttons.border_hover_color.opacity * 0.01 }});
  color: rgba({{ theme.buttons.text_hover_color.color|convert_rgb }}, {{ theme.buttons.text_hover_color.opacity * 0.01 }});
}
.hs-button:focus, .button--primary:focus  {
  background-color: rgba({{ theme.buttons.background_hover_color.color|convert_rgb }}, {{ theme.buttons.background_hover_color.opacity * 0.01 }});
  border-color: rgba({{ theme.buttons.border_hover_color.color|convert_rgb }}, {{ theme.buttons.border_hover_color.opacity * 0.01 }});
  color: rgba({{ theme.buttons.text_hover_color.color|convert_rgb }}, {{ theme.buttons.text_hover_color.opacity * 0.01 }});
}
.hs-button:active, .button--primary:active  {
  background-color: rgba({{ theme.buttons.background_hover_color.color|convert_rgb }}, {{ theme.buttons.background_hover_color.opacity * 0.01 }});
  border-color: rgba({{ theme.buttons.border_hover_color.color|convert_rgb }}, {{ theme.buttons.border_hover_color.opacity * 0.01 }});
  color: rgba({{ theme.buttons.text_hover_color.color|convert_rgb }}, {{ theme.buttons.text_hover_color.opacity * 0.01 }});
}
.hs-form label {
  color: rgba({{ theme.forms.label_color.color|convert_rgb }}, {{ theme.forms.label_color.opacity * 0.01 }});
}
.hs-form-field label, .hs-form-field a {
  color: rgba({{ theme.forms.label_color.color|convert_rgb }}, {{ theme.forms.label_color.opacity * 0.01 }});
}

a#hs_login_reset {
  color: rgba({{ theme.forms.label_color.color|convert_rgb }}, {{ theme.forms.label_color.opacity * 0.01 }});
}
.hs-form legend {
  color: rgba({{ theme.forms.help_text_color.color|convert_rgb }}, {{ theme.forms.help_text_color.opacity * 0.01 }});
}
body form .hs-input, 
body form .hs-search-field__input,
body form select,
body form #hs-pwd-widget-password,
body form textarea {
  border: {{ theme.forms.border_width }}px solid;
  background-color: rgba({{ theme.forms.field_background_color.color|convert_rgb }}, {{ theme.forms.field_background_color.opacity * 0.01 }});
  border-color: rgba({{ theme.forms.field_border_color.color|convert_rgb }}, {{ theme.forms.field_border_color.opacity * 0.01 }});
  color: rgba({{ theme.forms.field_text_color.color|convert_rgb }}, {{ theme.forms.field_text_color.opacity * 0.01 }});
  border-radius: {{ theme.forms.field_border_radius }}px;
}
body form .hs-input:hover, 
body form .hs-search-field__input:hover,
body form select:hover,
body form #hs-pwd-widget-password:hover,
body form textarea:hover {
  border-color: rgba({{ theme.forms.field_border_hover_color.color|convert_rgb }}, {{ theme.forms.field_border_hover_color.opacity * 0.01 }});
  color: rgba({{ theme.forms.field_text_color.color|convert_rgb }}, {{ theme.forms.field_text_color.opacity * 0.01 }});
}
body form .hs-input:focus, 
body form .hs-search-field__input:focus,
body form select:focus,
body form #hs-pwd-widget-password:focus,
body form textarea:focus {
  border-color: rgba({{ theme.forms.field_focus_border_color.color|convert_rgb }}, {{ theme.forms.field_focus_border_color.opacity * 0.01 }});
}

.hs-input:-moz-placeholder,
.hs-input::-webkit-input-placeholder,
.hs-field-desc,
.hs-dateinput:before,
.hs-richtext {
  color: {{ body_color }};
}

.hs-richtext {
  font-size: {{ body_size }};
}

.hs-default-font-element,
.hs-main-font-element {
  font-family: "MyriadPro-Regular";
}

.fn-date-picker td.is-today .pika-button {
  color: {{ theme.global_colors.primary_color.color }};
}

.fn-date-picker td.is-selected .pika-button {
  background: {{ theme.global_colors.primary_color.color }};
}

.fn-date-picker td .pika-button:hover {
  background-color: {{ theme.global_colors.secondary_color.color }} !important;
}

{###########################################################################}
{###############################   _tables   ###############################}
{###########################################################################}

th,
td {
  background-color: rgba({{ theme.tables.body_background_color.color|convert_rgb }}, {{ theme.tables.body_background_color.opacity * 0.01 }});
  border: 1px solid rgba({{ theme.tables.border_color.color|convert_rgb }}, {{ theme.tables.border_color.opacity * 0.01 }});
  color: rgba({{ theme.tables.body_text_color.color|convert_rgb }}, {{ theme.tables.body_text_color.opacity * 0.01 }});
}

thead th,
thead td {
  background-color: rgba({{ theme.tables.header_background_color.color|convert_rgb }}, {{ theme.tables.header_background_color.opacity * 0.01 }});
  color: rgba({{ theme.tables.header_text_color.color|convert_rgb }}, {{ theme.tables.header_text_color.opacity * 0.01 }});
}

tfoot td {
  background-color: rgba({{ theme.tables.footer_background_color.color|convert_rgb }}, {{ theme.tables.footer_background_color.opacity * 0.01 }});
  color: rgba({{ theme.tables.footer_text_color.color|convert_rgb }}, {{ theme.tables.footer_text_color.opacity * 0.01 }});
}

table,
tbody + tbody {
  border-color: rgba({{ theme.tables.border_color.color|convert_rgb }}, {{ theme.tables.border_color.opacity * 0.01 }});
}

{###########################################################################}
{###############################   _header   ###############################}
{###########################################################################}

.custom-header {
  background-color: rgba({{ theme.header.header_top_background_color.color|convert_rgb }}, {{ theme.header.header_top_background_color.opacity * 0.01 }});
}

.header_bottom{
  background-color: rgba({{ theme.header.header_bottom_background_color.color|convert_rgb }}, {{ theme.header.header_bottom_background_color.opacity * 0.01 }});
}

.header__container {
  max-width: {{ theme.spacing.max_width }}px;
}

@media(min-width:801px){
  .custom-menu-primary .navigation-primary .submenu .menu-item a {
    color: rgba({{ theme.header.menu_link_color.color|convert_rgb }}, {{ theme.header.menu_link_color.opacity * 0.01 }});
  }
  .custom-menu-primary .navigation-primary > .submenu > .menu-item.active-branch > a {
    color: rgba({{ theme.header.active_menu_link_color.color|convert_rgb }}, {{ theme.header.active_menu_link_color.opacity * 0.01 }});
    background-color: rgba({{ theme.header.active_menu_link_background_color.color|convert_rgb }}, {{ theme.header.active_menu_link_background_color.opacity * 0.01 }});
  }
  .custom-menu-primary .navigation-primary > .submenu > .menu-item > a:hover {
    color: rgba({{ theme.header.menu_link_hover_color.color|convert_rgb }}, {{ theme.header.menu_link_hover_color.opacity * 0.01 }});
    background-color: rgba({{ theme.header.menu_link_hover_background_color.color|convert_rgb }}, {{ theme.header.menu_link_hover_background_color.opacity * 0.01 }});
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item > ul.submenu {
    background-color: rgba({{ theme.header.child_menu_background_color.color|convert_rgb }}, {{ theme.header.child_menu_background_color.opacity * 0.01 }});
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item > ul .menu-item a {
    color: rgba({{ theme.header.child_menu_link_color.color|convert_rgb }}, {{ theme.header.child_menu_link_color.opacity * 0.01 }});
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item > ul .menu-item a:hover {
    background-color: rgba({{ theme.header.child_menu_link_hover_background_color.color|convert_rgb }}, {{ theme.header.child_menu_link_hover_background_color.opacity * 0.01 }});
    color: rgba({{ theme.header.child_menu_link_hover_color.color|convert_rgb }}, {{ theme.header.child_menu_link_hover_color.opacity * 0.01 }});
  }
  .custom-menu-primary .navigation-primary .submenu .menu-item > ul .menu-item.active-branch > a {
    background-color: rgba({{ theme.header.active_child_menu_link_background_color.color|convert_rgb }}, {{ theme.header.active_child_menu_link_background_color.opacity * 0.01 }});
    color: rgba({{ theme.header.active_child_menu_link_color.color|convert_rgb }}, {{ theme.header.active_child_menu_link_color.opacity * 0.01 }});
  }
}

.header__navigation-toggle svg,
.menu-arrow svg {
  fill: rgba({{ theme.header.menu_link_color.color|convert_rgb }}, {{ theme.header.menu_link_color.opacity * 0.01 }});
}
}

{###########################################################################}
{###############################   _footer   ###############################}
{###########################################################################}





.footer_nav_section a{
  color: {{ theme.footer.footer_menu_link_color.color }};
}

.footer_nav_section a:hover{
  color: {{ theme.footer.footer_menu_link_hover_color.color }};
}

.custom-footer a{
  color: {{ theme.footer.link_color.color }};
}

.custom-footer a:hover{
  color: {{ theme.footer.link_hover_color.color }};
}

.footer_top {
  background-color: rgba({{ theme.footer.footer_top_background_color.color|convert_rgb }}, {{ theme.footer.footer_top_background_color.opacity * 0.01 }});
}

.footer_bottom {
  background-color: rgba({{ theme.footer.footer_bottom_background_color.color|convert_rgb }}, {{ theme.footer.footer_bottom_background_color.opacity * 0.01 }});
}

.custom-footer h4,.custom-footer{
  color: {{ theme.footer.footer_title_color.color }};
}


.footer__container {
  max-width: {{ theme.spacing.max_width }}px;
}

{###########################################################################}
{################################   _blog   ################################}
{###########################################################################}

.content-wrapper {
  max-width: {{ theme.spacing.max_width }}px;
}

.blog-post__date {
  border-color: {{ body_color }};
}

.blog-tag-filter__menu-link,
.blog-post__tag-link,
.blog-card__tag-link,
.blog-post__author-name,
.blog-card__title a {
  color: {{ body_color }};
}

.blog-card__tag-link:hover,
.blog-card__title a:hover,
.blog-tag-filter__menu-link:hover,
.blog-post__tag-link:hover,
.blog-post__author-name:hover,
.blog-card__tag-link:focus,
.blog-card__title a:focus,
.blog-tag-filter__menu-link:focus,
.blog-post__tag-link:focus,
.blog-post__author-name:focus {
  color: {{ color_variant(body_color, -40) }};
}

.blog-card__tag-link:active,
.blog-card__title a:active,
.blog-tag-filter__menu-link:active,
.blog-post__tag-link:active,
.blog-post__author-name:active {
  color: {{ color_variant(body_color, 40) }};
}

.blog-tag-filter__menu-link--active-item:after {
  background-color: {{ theme.global_colors.primary_color.color }};
}

.blog-pagination__link {
  color: {{ body_color }};
}

.blog-pagination__link--active:after,
.blog-pagination__prev-link:after,
.blog-pagination__next-link:after {
  background-color: {{ theme.global_colors.primary_color.color }};
}

.blog-post__title {
  color: {{ h2_color }};
  font-family: "MyriadPro-Regular";
  font-size: {{ h2_size }}px;
  font-weight: {{ theme.typography.h2_font_weight }};
}

.blog-post__author {
  background-color: {{ theme.global_colors.secondary_color.color }};
}

#comments-listing .comment-reply-to {
  color: rgba({{ theme.typography.color|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
  color: rgba({{ color_variant(theme.typography.color, -40)|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

#comments-listing .comment-reply-to:active {
  color: rgba({{ color_variant(theme.typography.color, 40)|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

/*             Blog Grid Listing and Post styles            */

.blog-header {
  background-color: rgb({{ color_variant(theme.blog_settings.blog_colors.background_color.color, -10)|convert_rgb }});
}


.blog-index__post-inner-card {
  box-shadow: -5px 0px 20px 0px rgba({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -175)|convert_rgb }}, 0.10);
}

.blog-post__tag-link:hover{
  color: {{ theme.typography.link_hover_color.color }};
}

.blog-post__read-more svg {
  fill: {{ body_color }};
}

.blog-post__read-more a:hover svg {
  fill: {{ theme.typography.link_hover_color.color }};
}

.blog-sidebar ul {
  box-shadow: -5px 0px 20px 0px rgba({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -175)|convert_rgb }}, 0.10);
}

.blog-sidebar a {
  color: {{ body_color }};
}

.blog-sidebar a:hover {
  color: {{ theme.typography.link_hover_color.color }};
}

.blog__subscription-block {
  background-color: rgb({{ color_variant(theme.blog_settings.blog_colors.background_color.color, -10)|convert_rgb }});
}

.post-featured-image {
  max-height: {{ theme.blog_settings.blog_featured_image_max_height.number_field }}px;
}

.blog-post {
  box-shadow: -5px 0px 20px 0px rgba({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -175)|convert_rgb }}, 0.10);
}

.blog-post__meta a {
  color: {{ body_color }};
}

.blog-post__body, .blog-post__tags a {
  color: {{ body_color }};
}

.blog-post__meta a:hover {
  color: {{ theme.typography.link_hover_color.color }}
}

.blog-post__links {
  border-top:  2px solid rgb({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -20)|convert_rgb }});
}

.blog-post__back-to-blog {
  color: {{ body_color }};
}

.blog-post__back-to-blog:hover {
  color: {{ theme.typography.link_hover_color.color }};
}

.blog-post__back-to-blog svg {
  fill: {{ body_color }};
}

a.blog-post__back-to-blog:hover svg {
  fill: {{ theme.typography.link_hover_color.color }};
}

.comment.depth-0,
.blog-comments form {
  border-top: 2px solid rgb({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -20)|convert_rgb }});
}

.comment.depth-1 {
  border-left: 2px solid rgb({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -20)|convert_rgb }});
}

.section.post-footer .hs-input {
  border-color: rgb({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -20)|convert_rgb }});
}

.blog-recent-posts {
  background-color: rgb({{ color_variant(theme.blog_settings.blog_colors.background_color.color, -10)|convert_rgb }});
}

{###########################################################################}
{###########################   _system_pages   #############################}
{###########################################################################}


{###########################################################################}
{##############################   _modules   ###############################}
{###########################################################################}

body .icon svg {
  fill: {{ theme.global_colors.primary_color.color }};
}

body .tns-nav button.tns-nav-active {
  background-color: {{ theme.global_colors.primary_color.color }};
}

body .tns-nav button:hover,
body .tns-nav button:focus {
  background-color: {{ theme.global_colors.primary_color.color }};
}

body .social-links__icon {
  background-color: {{ theme.global_colors.primary_color.color }};
}

body .social-links__icon:hover svg,
body .social-links__icon:focus svg {
  fill: rgba({{ color_variant(theme.typography.color, -40)|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

body .social-links__icon:active svg {
  fill: rgba({{ color_variant(theme.typography.color, 40)|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

body .team-member__description {
  background-color: {{ theme.global_colors.secondary_color.color }};
}

.page-center {
  max-width: {{ theme.spacing.max_width }}px;
  margin: 0 auto;
}

{###########################################################################}
{#############################   _website   ################################}
{###########################################################################}
.body-container__website .dnd-section:nth-child(odd) {
  background-color: {{ theme }}
}
