.banner-video {
    position: relative;
    height: 540px;
    width: 100%;
    overflow: hidden;
}
.banner-video video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}

.banner-video .container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    z-index: 9;
    padding: 0 30px;
}
.banner-video-texto {
    max-width: 500px;
}
.banner-video-texto p {
  font-size: 18px;
}
.banner-video.pantalla1:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.banner-video-boton {
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none!important;
}
@media (max-width: 480px) {
  .banner-video {
    width: 120%;
    left: -30px;
  }
}