<div class="banner-video pantalla1">

  <video autoplay="" muted="" loop="" playsinline="">
    <source src="{{ module.video }}" type="video/mp4">
  </video>
  <div class="container">
    <div class="banner-video-texto">
      {% inline_rich_text field="richtext_field" value="{{ module.richtext_field }}" %}
      {% if module.boton_ %}
        {% set href = module.link_field.url.href %}
        {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}"
          {% if module.link_field.open_in_new_tab %}target="_blank"{% endif %}
          {% if module.link_field.rel %}rel="{{ module.link_field.rel }}"{% endif %}
          class="banner-video-boton">
          {{ module.texto_boton }}
        </a>
      {% endif %}
    </div>
  </div>
  
</div>


{% require_css %}
<style>
  .banner-video {
    height: {{ module.altura_contenedor }}px;
  }
  .banner-video.pantalla1:after {
    background-color: {{ module.color_de_fondo.color }};
    opacity: {{ module.color_de_fondo.opacity / 100 }};
  }
  .banner-video-texto p, 
  .banner-video-texto h3 {
    color: {{ module.color_de_texto.color }}!important;
  }
  .banner-video-boton {
    display: inline-block;
    background-color: {{ module.color_de_fondo_boton.color }};
    color: {{ module.color_de_texto_boton.color }};
  }
  .banner-video-boton:hover {
    background-color: {{ module.color_de_fondo_hover_boton.color }};
    color: {{ module.color_de_texto_hover_boton.color }};
    text-decoration: none!important;
  }
</style>
{% end_require_css %}