{{ require_css(get_asset_url("/FontPackagingGroup_April2021/vendors/lightbox2/lightbox.css")) }}
{{ require_js(get_asset_url("/FontPackagingGroup_April2021/vendors/lightbox2/lightbox.js")) }}
{% set random_int = range(0,local_dt|unixtimestamp)|random %}
<div class="imagenes-zoom">
  {% for item in module.image_field %}
      {% if item.src %}
        <a href="{{ item.src }}" class="imagen-zoom" data-lightbox="imagen-zoom-{{ random_int }}">
          {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}"' %}
          {% if item.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif item.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.max_width }}" height="{{ item.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading }}"' : '' %}
          <img src="{{ item.src }}" alt="{{ item.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        </a>
      {% endif %}
  {% endfor %}
</div>

{% require_js("head") %}
<script>
  /*$(document).ready(function(){
    /*
    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: true,
    });
   });
   */
  
    lightbox.option({
      'disableScrolling': true,
      'alwaysShowNavOnTouchDevices': true
    })
</script>
{% end_require_js %}