.imagenes-zoom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
#lightboxOverlay { position: fixed !important; top: 0; left: 0; height: 100% !important; width: 100% !important; }
#lightbox { position: fixed !important; top: 50% !important; transform: translateY(-50%); }