<!--
    templateType: global_partial
    label: Global partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->

<header class="custom-header">
  <div class="header_group">
    <div class="fusion-secondary-header"></div>
    <div class="inner_header_group">
      <div class="header_topbar" style="display: none!important;">
        <div class="header__container">
          <div class="fusion-alignleft">
            <div class="fusion-social-links-header">
              <div class="fusion-social-networks">
                <div class="fusion-social-networks-wrapper">
                  <a class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" style=""
                    data-placement="bottom" data-title="Facebook" data-toggle="tooltip" title=""
                    href="https://facebook.com/FontPackaging/" target="_blank" rel="noopener noreferrer"
                    data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a>
                  <a class="fusion-social-network-icon fusion-tooltip fusion-twitter fusion-icon-twitter" style=""
                    data-placement="bottom" data-title="Twitter" data-toggle="tooltip" title=""
                    href="https://twitter.com/FontPackaging" target="_blank" rel="noopener noreferrer"
                    data-original-title="Twitter"><i class="fab fa-twitter"></i></a>
                  <a class="fusion-social-network-icon fusion-tooltip fusion-linkedin fusion-icon-linkedin" style=""
                    data-placement="bottom" data-title="LinkedIn" data-toggle="tooltip" title=""
                    href="https://www.linkedin.com/company/font-packaging-group?trk=company_logo" target="_blank"
                    rel="noopener noreferrer" data-original-title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                  <a class="fusion-social-network-icon fusion-tooltip fusion-youtube fusion-icon-youtube" style=""
                    data-placement="bottom" data-title="YouTube" data-toggle="tooltip" title=""
                    href="https://www.youtube.com/user/CartonajesFont" target="_blank" rel="noopener noreferrer"
                    data-original-title="YouTube"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header_top">
        <div class="header__container clearfix">
          <div class="fusion-logo logo-1">
            {% module "custom_logo" path="../../modules/Custom Logo", label="Custom Logo" %}
          </div>
          <div class="fusion-logo logo2">
            {#% module "custom_logo2" path='../../modules/Secondary Logo', label="Secondary Logo" %#}
            {#{% module "search_input" path="@hubspot/search_input" placeholder="Buscar" %}#}
          </div>
          <div class="header-right-mobile">
            <div class="search-mobile" style="display: none!important;">
              <i class="fas fa-search"></i>
            </div>
            <div class="fusion-mobile-menu-icons">
                          <a href="#" class="fusion-icon fusion-icon-bars" aria-label="Alternar menú móvil"
                              aria-expanded="false" aria-controls="mobile-menu-menu"></a>
                      </div>
          </div>

        </div>
      </div>
      <div class="header_bottom ds_bottom">
        <div class="header__container ds__header">
            <div class="custom-menu-primary">
              {% module "navigation-primary" path="../../modules/menu-section",primary_menu_field="44661860149", id="44661860149", label="Primary Menu" %} 
            </div>
          <div class="ds__header ds__header-contact">
            <div class="header_contact ds_contact">
              <img
                src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/Union.svg"
                alt="avatar">
            </div>
            <div class="ds__header-text">
              <h3>Hola, {{contact.firstname}}  | <a href="/_hcms/mem/logout">Logout</a></h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
<div id="search-input-mobile">
  {% module "search_input" path="@hubspot/search_input" placeholder="Buscar" %}
</div>

<!-- End partial -->