<!--
templateType: global_partial
label: Page Footer
-->
<footer class="custom-footer">
  <div class="footer_top">
    <div class="footer__container">
      <div class="footer__grid">
        <div class="footer__logo">
          <a href="/">
            <img src="https://f.hubspotusercontent20.net/hubfs/9149224/5.%20LOGOS/Logo%20Font%20Packaging-blanco%20(1).png">
          </a>
        </div>
        <div class="footer__menu">
          {% module "navigation-primary" path="../../modules/menu-section",primary_menu_field="44661860149", id="44661860149", label="Primary Menu" %}
        </div>
        <div class="footer__social">
          <div class="fusion-social-networks-footer">
            <div class="fusion-social-networks">
              <div class="fusion-social-networks-wrapper">
                <a class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" style="" data-placement="bottom" data-title="Facebook" data-toggle="tooltip" title="" href="https://facebook.com/FontPackaging/" target="_blank" rel="noopener noreferrer" data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="fusion-social-network-icon fusion-tooltip fusion-twitter fusion-icon-twitter" style="" data-placement="bottom" data-title="Twitter" data-toggle="tooltip" title="" href="https://twitter.com/FontPackaging" target="_blank" rel="noopener noreferrer" data-original-title="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="fusion-social-network-icon fusion-tooltip fusion-linkedin fusion-icon-linkedin" style="" data-placement="bottom" data-title="LinkedIn" data-toggle="tooltip" title="" href="https://www.linkedin.com/company/font-packaging-group?trk=company_logo" target="_blank" rel="noopener noreferrer" data-original-title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                <a class="fusion-social-network-icon fusion-tooltip fusion-youtube fusion-icon-youtube" style="" data-placement="bottom" data-title="YouTube" data-toggle="tooltip" title="" href="https://www.youtube.com/user/CartonajesFont" target="_blank" rel="noopener noreferrer" data-original-title="YouTube"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="footer_bottom">
    <div class="footer__container">
      <div class="fusion-copyright-content">
        {% module_block module "copyright_text" path="@hubspot/rich_text", label="Copyright" %}
        {% module_attribute "html" %}
        <div>© Font Packaging Group, {{year}} | <br> <a href="https://fontpackaging.com/aviso-legal">Aviso Legal</a> | <a href="https://fontpackaging.com/condiciones-generales">Condiciones Generales</a> | Desarrollado por <a href="https://www.mbudo.com/"><strong>mbudo</strong></a> 
        </div>
        {% end_module_attribute %}
        {% end_module_block %}
      </div>
      
    </div>
  </div>
</footer>

<a href="#" id="toTop"><span id="toTopHover"></span></a>
