<!--
templateType: global_partial
label: Page Footer
-->
<footer class="custom-footer">
  <div class="footer_bottom">
    <div class="footer__container">
      <div class="fusion-copyright-content">
        {% module_block module "copyright_text" path="@hubspot/rich_text", label="Copyright" %}
        {% module_attribute "html" %}
        <div class="fusion-copyright-content-wrapper">Copyright {{year}} Font Packaging Group | <a href="https://www.insupack.com/aviso-legal">Aviso Legal</a> | <a href="https://www.insupack.com/politica-privacidad">Política de privacidad</a> | <a href="https://www.gestinet.com/es/posicionamiento-web/">Posicionamiento Web</a> | <a href="https://gestinet.com/es/mantenimiento-informatico">Mantenimiento Informático</a>
        </div>
        {% end_module_attribute %}
        {% end_module_block %}
      </div>
    </div>
  </div>
</footer>

<a href="#" id="toTop"><span id="toTopHover"></span></a>
