<!--
  templateType: global_partial
  label: Page Header
-->
<header class="custom-header lp">
  <div class="header_group">
    <div class="fusion-secondary-header"></div>
    <div class="inner_header_group">
      <div class="header_top">
        <div class="header__container clearfix">
          <div class="fusion-logo logo-1">
            {% module "custom_logo" path="../../modules/Custom Logo", label="Custom Logo" %}
          </div>
        </div>
      </div>   
    </div> 
  </div>
</header>
