<!--
    templateType: page
    isAvailableForNewContent: false
-->
<!-- Begin partial -->

{% set current_lang = content.language.languageTag %}

{% require_js("footer") %}
<script>
  $(document).ready(function(){
    
    $(document).ready(function() {
        $(".product-pdf").on("contextmenu",function(){
           return false;
        }); 
    });
    
    //============================================
    //  Cookies
    //============================================
    function __setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }


    function __getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    
    var hsPDF = __getCookie("hsPDF");
    
    // Si no existe el cookie, mostrar popup
    if(!hsPDF) {
      $('.product-pdf').magnificPopup({
        items: {
            src: '#product-popup',
            type: 'inline',
            midClick: true
        },
        closeBtnInside: true
      });

      $('.product-pdf').on("click", function(){
        var productPDF = $(this).attr("href");
        var button = $("#descargar-pdf-popup");

        button.attr("href", productPDF);
      });

      window.addEventListener('message', event => {
         if(event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormSubmit') {
             $('.hubspot-form form').hide();
             $('#thankyou-popup').show();
             __setCookie("hsPDF", 1, 30);
         }
      });
     } 
    
  });
</script>
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    
    var lang = document.documentElement.lang;
    
    // Formulario ES
    var form_id = "010c0767-f2fe-44d7-8ec4-42e99fae3152";
    
    // Formulario FR
    if (lang == "fr") {
      form_id = "3416813c-2396-41f2-baff-027eae221fb4";
    }
    
    // Formulario EN
    if (lang == "en") {
      form_id = "bc431240-798a-43f2-b679-e26f3d31144c";
    }
    
    // Formulario CA
    if (lang == "ca") {
      form_id = "ebdbef09-7e8a-4788-9b5a-71706c6ca0dd";
    }
    
    
    hbspt.forms.create({
      region: "na1",
      portalId: "9149224",
      formId: form_id,
      target: ".hubspot-form"
  });
  </script>
{% end_require_js %}

{% set download_label = "Descargar Ficha de Producto" %}

{% if current_lang == "en" %}
  {% set download_label = "Download Product Sheet" %}
{% endif %}

{% if current_lang == "fr" %}
  {% set download_label = "Télécharger la fiche produit" %}
{% endif %}

{% if current_lang == "ca" %}
  {% set download_label = "Descarregar Fitxa de Producte" %}
{% endif %}

<div id="product-popup" class="white-popup mfp-hide">
  <div class="hubspot-form">
    
  </div>
  <div id="thankyou-popup" style="display: none;">
    <a href="" class="descargar-pdf-popup" id="descargar-pdf-popup">
      <img src="https://f.hubspotusercontent20.net/hubfs/9149224/WEB/Icon-download-font-blanco-14.png" alt="Descargar ficha de producto">
      {{ download_label }}
    </a>
  </div>
</div>
<!-- End partial -->