<!--
    templateType: page
    isAvailableForNewContent: false
-->
<!-- Begin partial -->

{% set current_lang = content.language.languageTag %}
{% set descripcion = dynamic_page_hubdb_row.descripcion %}
{% set nombre = dynamic_page_hubdb_row.name %}
{% set label_descargar_pdf = "Descargar Ficha de Producto" %}
{% set slug_lang = "" %}
{% set slug_products = "productos-por-categoria" %}
{% set category_name = dynamic_page_hubdb_row.categoria[0].name %}
{% set subcategory_name = dynamic_page_hubdb_row.subcategoria[0].name %}

{% if current_lang == "en" %}
  {% set descripcion = dynamic_page_hubdb_row.descripcion_en %}
  {% set nombre = dynamic_page_hubdb_row.nombre_en %}
  {% set label_descargar_pdf = "Download Product Sheet" %}
  {% set slug_lang = "/en" %}
  {% set slug_products = "products-by-category" %}
  {% set category_name = dynamic_page_hubdb_row.categoria_en[0].name %}
  {% set subcategory_name = dynamic_page_hubdb_row.subcategoria_en[0].name %}
{% endif %}

{% if current_lang == "fr" %}
  {% set descripcion = dynamic_page_hubdb_row.descripcion_fr %}
  {% set nombre = dynamic_page_hubdb_row.nombre_fr %}
  {% set label_descargar_pdf = "Télécharger la fiche produit" %}
  {% set slug_lang = "/fr" %}
  {% set slug_products = "produits-par-categorie" %}
  {% set category_name = dynamic_page_hubdb_row.categoria_fr[0].name %}
  {% set subcategory_name = dynamic_page_hubdb_row.subcategoria_fr[0].name %}
{% endif %}

{% if current_lang == "ca" %}
  {% set descripcion = dynamic_page_hubdb_row.descripcion_cat %}
  {% set nombre = dynamic_page_hubdb_row.nombre_ca %}
  {% set label_descargar_pdf = "Descarregar Fitxa de Producte" %}
  {% set slug_lang = "/ca" %}
  {% set slug_products = "productes-per-categoria" %}
  {% set category_name = dynamic_page_hubdb_row.categoria_ca[0].name %}
  {% set subcategory_name = dynamic_page_hubdb_row.subcategoria_ca[0].name %}
{% endif %}

{% set imagenes = [] %}

{% if dynamic_page_hubdb_row.imagen %}
  {% do imagenes.append(dynamic_page_hubdb_row.imagen.url) %}
{% endif %}
{% if dynamic_page_hubdb_row.imagen_2 %}
  {% do imagenes.append(dynamic_page_hubdb_row.imagen_2.url) %}
{% endif %}
{% if dynamic_page_hubdb_row.imagen_3 %}
  {% do imagenes.append(dynamic_page_hubdb_row.imagen_3.url) %}
{% endif %}
{% if dynamic_page_hubdb_row.imagen_4 %}
  {% do imagenes.append(dynamic_page_hubdb_row.imagen_4.url) %}
{% endif %}
{% if dynamic_page_hubdb_row.imagen_5 %}
  {% do imagenes.append(dynamic_page_hubdb_row.imagen_5.url) %}
{% endif %}

<div class="product-header">
  <div class="container">
    <div class="product-header-content">
      <h1>
        {{ nombre }}
      </h1>
      <div class="breadcrumbs">
        {% if dynamic_page_hubdb_row.categoria[0].name %}
          <a href="{{ slug_lang }}/{{ slug_products }}?categoria={{ category_name }}">{{ category_name }}</a> >
        {% endif %}
        {% if dynamic_page_hubdb_row.subcategoria[0].name %}
        <a href="{{ slug_lang }}/{{ slug_products }}?subcategoria={{ subcategory_name }}">{{ subcategory_name }}</a> > 
        {% endif %}
        {{ nombre }}
      </div>
    </div>

  </div>
</div>

<div class="product-wrapper">
  <div class="container">
    <div class="product-body">
      <div class="product-image">
        <div class="slider-for">
          {% for imagen in imagenes %}
            <a href="{{ imagen }}" data-lightbox="galeria-producto">
              <img src="{{ imagen }}" alt="{{ dynamic_page_hubdb_row.name }}" >
            </a>
          {% endfor %}
        </div>    
      </div>
      <div class="product-desc">
        {{ descripcion }}
        <a class="product-pdf" href="{{ dynamic_page_hubdb_row.ficha_de_producto }}">
          <img src="https://f.hubspotusercontent20.net/hubfs/9149224/WEB/Icon-download-font-blanco-14.png" alt="Descargar ficha de producto">
          {{ label_descargar_pdf }}
        </a>
      </div>     
    </div>
  </div>
  <div class="container product-video">
    {% if dynamic_page_hubdb_row.video %}
      {{ dynamic_page_hubdb_row.video }}
    {% endif %}
  </div>
</div>

{% require_js("head") %}
<script>
  $(document).ready(function(){
    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: true,
    });
   });
  
    lightbox.option({
      'disableScrolling': true,
      'alwaysShowNavOnTouchDevices': true
    })
</script>

{% end_require_js %}

{% include "/FontPackagingGroup_April2021/templates/partials/related-products.html" %}
<!-- End partial -->