<!--
    templateType: page
    isAvailableForNewContent: false
-->
<!-- Begin partial -->
{% set current_lang = content.language.languageTag %}

{% set productos_relacionados = "Productos Relacionados" %}

{% if current_lang == "en" %}
  {% set productos_relacionados = "Related Products" %}
{% endif %}

{% if current_lang == "fr" %}
  {% set productos_relacionados = "Produits connexes" %}
{% endif %}

{% if current_lang == "ca" %}
  {% set productos_relacionados = "Productes relacionats" %}
{% endif %}


<div class="related-products">
  <div class="container">

    <h2>
      {{ productos_relacionados }}
    </h2>
    {% if dynamic_page_hubdb_row.subcategoria[0].name %}
    {% set related_products = hubdb_table_rows(dynamic_page_hubdb_table.id, "limit=3&subcategoria__in=" ~ dynamic_page_hubdb_row.subcategoria[0].name ~ "&orderBy=random()&name__ne=" ~ dynamic_page_hubdb_row.name) %}
    {% else %}
    {% set related_products = hubdb_table_rows(dynamic_page_hubdb_table.id, "limit=3&categoria__in=" ~ dynamic_page_hubdb_row.categoria[0].name ~ "&orderBy=random()&name__ne=" ~ dynamic_page_hubdb_row.name) %}
    {% endif %}
    
    <div class="related-products-grid">
      {% for row in related_products %}
      
         {% set name = row.name %}  
          
         {% if current_lang == "en" %}
          {% set name = row.nombre_en %}
         {% endif %}
         
         {% if current_lang == "fr" %}
          {% set name = row.nombre_fr %}
         {% endif %}
  
         {% if current_lang == "ca" %}
          {% set name = row.nombre_ca %}
         {% endif %}
      <div class="related-products-item">
        <div class="related-producs-item-image">
          {% if row.imagen.url %}
          <img src="{{ row.imagen.url }}" alt="{{ name }}" >
          {% else %}
          <img src="{{ get_asset_url('/INSUPACKFontPackagingGroup_April2021/images/PlaceholderProductos.png') }}" alt="{{ name }}" >
          {% endif %}  
        </div>
        <div class="related-producs-item-name">
          <h4>
            {{ name }}
          </h4>
        </div>
      </div>
      {% endfor %}
    </div>

  </div> 
</div>
<!-- End partial -->