{% macro defaultItemClasses() %}
{{
 {
   "class": "no-submenu menu-item"
 }|xmlattr
 }}
{% endmacro %}
{% macro childClasses() %}
{{
 {
   "class": "has-submenu menu-item"
 }|xmlattr
 }}
{% endmacro %}
{% macro activeNode() %}
{{
 {"class": "menu-link active-item",
 "aria-current": "page"}|xmlattr
 }}
{% endmacro %}
{% macro activeBranch() %}
{{
 {"class": "menu-link active-branch"}|xmlattr
 }}
{% endmacro %}
{% macro linkTarget() %}
{{
{"target": "_blank"}|xmlattr
}}
{% endmacro %}
{% macro link(node) %}
<li {{ childClasses() if node.children else defaultItemClasses() }}>
  <a class="menu-link" href="{{ node.url }}" {{ activeNode() if node.activeNode }} {{ activeBranch()if node.activeBranch }} {{ linkTarget() if node.linkTarget }}>{{ node.label }}</a>
  {% if node.children %}
  <div class="child-trigger"></div>
  {% endif %}
  {% if node.children %}
  {{ renderNavigation(node) }}
  {% endif %}
</li>
{% endmacro %}
{% macro renderNavigation(menuTree) %}
{% set level = level + 1 %}
<ul class="submenu level-{{ level }}" aria-hidden="{{ level != 1 }}">
  {% for node in menuTree.children %}
  {{ link(node) }}
  {% endfor %}
</ul>
{% endmacro %}
<nav aria-label="Main menu" class="navigation-primary">
  {{ renderNavigation(menu(module.primary_menu_field)) }}
</nav>