
<div class="related-post-item-wrapper slider">
  {% set max_posts = 5 %}
  {% set post_list = [] %}
  {% for topic in content.topic_list %}
  {% set post_list = post_list + blog_recent_topic_posts('default', topic.slug, max_posts + 1 ) %}
  {% if loop.last %}
  {% set post_list = post_list|sort(true, false, 'publish_date')|unique('name') %}
  {% set i = 0 %}
  {% for post in post_list %}
  {% if content.absolute_url != post.absolute_url and i < max_posts %}
  <div class="related-post-item slide">
    {% if post.featured_image %}
    <div class="related-image">
      <a href="{{post.absolute_url}}">
        <img src="{{ resize_image_url( post.post_list_summary_featured_image,666 ) }}" alt="{{ post.name|striptags }}">
        <h5>
          {{post.name}}
        </h5>
      </a>
    </div>
    {% endif %}
  </div>
  {% set i = i + 1 %}
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}
</div>
