
.parent-slide{
  padding:15px;
}
.slick-prev, .slick-next{
  position: absolute;
  top: 50%;
  outline: 0;
  width: 32px;
  height: 32px;
  z-index: 9999;
  background-color: rgba(0,0,0,.6);
}
.slick-slide img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
    outline: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.related-post-item {
  margin-left: 40px;
}

.slick-list{
  padding:0px !important;
}
.related-post-item-wrapper {
  margin-top: 55px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
  background: rgb(0 0 0 / 60%) !important;
}
.slick-prev {
  left: 0px !important;
}
.slick-prev:before{
  content: '\f104';
  color: #fff;
  font-family: icomoon !important;
}
.slick-next:before {
  content: '\f105';
  color: #fff;
  font-family: icomoon;
}
.related-image h5 {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 20px;
}

