<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8">
    <title>{{ page_meta.html_title }}</title>
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61837230-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    {{ require_css(get_asset_url("../../css/layout.css")) }}
    {{ require_css(get_asset_url("../../css/main.css")) }}
     {{ require_css(get_asset_url("../../css/theme-overrides.css")) }}
    {{ require_css(get_asset_url("/FontPackagingGroup_April2021/vendors/slick/slick.css")) }}
    {{ require_css(get_asset_url("/FontPackagingGroup_April2021/vendors/slick/slick-theme.css")) }}
    {{ require_css(get_asset_url("/FontPackagingGroup_April2021/vendors/lightbox2/lightbox.css")) }}
    {{ require_css(get_asset_url("/FontPackagingGroup_April2021/vendors/magnific-popup/magnific-popup.css")) }}
    {{ require_js(get_asset_url("/FontPackagingGroup_April2021/vendors/slick/slick.js")) }}
    {{ require_js(get_asset_url("/FontPackagingGroup_April2021/vendors/lightbox2/lightbox.js")) }}
    {{ require_js(get_asset_url("/FontPackagingGroup_April2021/vendors/magnific-popup/jquery.magnific-popup.js")) }}
    {# where possible, improve page performance and speed by combining external http requests to reduce your
      overall number of calls -- here, you can use a single call to the gFonts api to get all the fonts you need
      https://developers.google.com/fonts/docs/getting_started
    #}
    {#{ require_css("https://fonts.googleapis.com/css?family=Merriweather:400,700|Lato:400,700&display=swap") }#}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
    {# Include Theme Overrides #}
    {{ require_js(get_asset_url("../../js/main.js")) }}
    {{ standard_header_includes }}
  </head>
  <body>
    <div class="body-wrapper {{ builtin_body_classes }}">
      {% block header %}
        {% global_partial path="../partials/dashboard_header.html" %}
      {% endblock header %}

      {% block body %}
        <!-- Nothing to see here -->
      {% endblock body %}

      {% block footer %}
         {% global_partial path="../partials/footer.html" %}
      {% endblock footer%}
    </div>
    {{ standard_footer_includes }}
    
    {% include "/FontPackagingGroup_April2021/templates/partials/popup.html" %}
  </body>
</html>
