<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Font - 404 Error Page
-->
{% extends "../layouts/base.html" %}


{% block body %}
<div class="content-wrapper">
  <div class="error-page" data-error="404">
    <h1 class="error-page_heading">
      Página no encontrada.
    </h1>
    <a class="hs-button" href="https://fontpackaging.com/">Volver a la Home</a>
  </div>
</div>
{% endblock body %}
