<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: 500 Error Page
-->
{% extends "../layouts/base.html" %}

{% block body %}
<div class="content-wrapper">
  <div class="error-page" data-error="500">
    <h1 class="error-page_heading">
      Algo no está bien
    </h1>
    <p>Lo sentimos, se ha producido un error interno del servidor. ¡Pero no te preocupes, estamos en ello!</p>
  </div>
</div>
{% endblock body %}
