<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: Email Backup Unsubscribe Page
-->
{% extends "../layouts/base.html" %}

{% block body %}
<div class="content-wrapper">
  <div class="systems-page">
    {% module "backup_unsubscribe" path="@hubspot/email_simple_subscription" 
    header="Darse de baja", 
    input_help_text="Dirección de correo electrónico", 
    input_placeholder="Dirección de correo electrónico", 
    button_text="Darme de baja", 
    %}
  </div>
</div>
{% endblock body %}
