<!--
  templateType: membership_register_page
  isAvailableForNewContent: true
  label: Font - membership registration
-->
{% extends '../layouts/base.html' %}

{% block body %}
<main class="">
  <section>
    <div class="system_reg-container">
      <div class="system_reg-img">
        <img
          src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/register_image.jpeg"
          alt="register_image">
      </div>
      <div class="system_reg-wrapper content-wrapper">
        <h4>Bienvenido a Font</h4>
        <div class="form-container reg_form-container">
          <p class="introduction">Configura tu contraseña para iniciar sesión y ver el contenido al que tienes acceso.
          </p>
          {% member_register 'my_register'
        email_label='Email',
        password_confirm_label='Confirmar contraseña',
        password_label='Contraseña',
        submit_button_text='Guardar contraseña'
        %}
        </div>
      </div>
      {#
      <div>
        <p>¿Tienes algún problema? <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">Contacta con el administrador</a>.</p>
      </div>
      #}
    </div>
  </section>
</main>
<style>
  p,
  label {
    font-size: 16px;
  }

  body form .hs-input,
  body form .hs-search-field__input,
  body form select,
  body form #hs-pwd-widget-password,
  body form textarea {
    margin-bottom: 10px;
  }

</style>
{% endblock %}
{% block footer %}
{% global_partial path="../partials/footer_landing_page.html" %}
{% endblock %}