<!--
  templateType: membership_login_page
  isAvailableForNewContent: true
  label: Font - membership login
-->
{% extends '../layouts/base.html' %}


{% block body %}

{#
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      <h4>Inicia sesión para acceder a esta página</h4>
      <p class="introduction">Esta página solo está disponible para para las personas a las que se les ha dado acceso.</p>
      <div class="form-container">
        {% member_login 'my_login'
          email_label= 'Email',
          password_label= 'Password',
          remember_me_label= 'Remember Me',
          reset_password_text= 'Forgot your password?',
          submit_button_text= 'Login'
        %}
      </div>

      <div>
        <p>¿Tienes algún problema? <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">Contacta con el administrador</a>.</p>
      </div>

    </div>
  </section>
</main>
#}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<main>
  <section>
    <div class="system_reg-container">
      <div class="system_reg-img">
        <img
          src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/register_image.jpeg"
          alt="register_image">
      </div>
      <div class="system_reg-wrapper content-wrapper">
        <h4>Inicia sesión para acceder a este contenido</h4>
        <div class="form-container reg_form-container">
          <div class="login-options">
            <div id="login" class="active">
              Acceder
            </div>
            <div id="request-access" style="display: none!important;">
              Solicitar acceso
            </div>
          </div>
          <p class="introduction">Este contenido solo está disponible a quienes se les ha dado acceso.</p>
          <div id="login-form">
            {% member_login 'my_login'
          email_label= 'Email',
          password_label= 'Contraseña',
          remember_me_label= 'Recordarme',
          reset_password_text= 'Olvidaste tu clave?',
          submit_button_text= 'Acceder'
          redirect_to='{{ contact.hs_analytics_last_url }}'
        %}
          </div>
        </div>

        <div id="request-form" style="display: none;">
          <!--[if lte IE 8]>
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "9149224",
              formId: "b1488dff-6c58-473c-99c8-ad7a516dfb3d"
            });
          </script>
        </div>

      </div>
      {#
        <div>
          <p>Tienes problemas para acceder? <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">Contactar a un admin</a>.</p>
        </div>
        #}
    </div>
  </section>
</main>

<style>
  .systems-page {
    width: 380px;
    margin: 0 auto;
  }

  .login-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .login-options div {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 107, 137, 0.6);
    color: rgba(0, 107, 137, 0.6);
    cursor: pointer;
    font-size: 16px;
  }

  .login-options div.active {
    border-color: rgba(0, 107, 137, 1.0);
    color: rgba(0, 107, 137, 1.0);
    border-width: 2px;
    font-weight: bold;
  }

  #request-form span {
    font-size: 16px;
  }

  .hbspt-form {
    display: block;
  }

  #request-form {
    margin-top: 25px;
  }

  h4,
  .introduction {
    text-align: center;
  }

  .body-container-wrapper {
    margin-top: 30px;
  }

  body form .hs-input,
  body form .hs-search-field__input,
  body form select,
  body form #hs-pwd-widget-password,
  body form textarea {
    margin-bottom: 10px;
  }

  .hs-form-field label,
  .hs-form-field a,
  p {
    font-size: 16px;
  }

  .field {
    margin-top: 0px !important;
  }
</style>

<script>
  $(document).ready(function () {
    $('.login-options div').on('click', function () {
      $('.login-options div').removeClass("active");
      $(this).addClass("active");
    });

    $('#login').on('click', function () {
      $('#request-form').hide();
      $('#login-form').show();
    });

    $('#request-access').on('click', function () {
      $('#login-form').hide();
      $('#request-form').show();
    });
  });
</script>
{% endblock %}
{% block footer %}
{% global_partial path="../partials/footer_landing_page.html" %}
{% endblock %}