<!--
  templateType: membership_reset_page
  isAvailableForNewContent: true
  label: Font - reset password
-->
{% extends '../layouts/base.html' %}

{% block header %}
   {% global_partial path="../partials/header_landing_page_font.html" %}
{% endblock %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      <h4>Restablece tu contraseña</h4>
      <p class="introduction">Introduce una nueva contraseña.</p>
      <div class="form-container">
        {% password_reset 'my_password_reset'
          password_confirm_label='Confirm Password',
          password_label='Password',
          submit_button_text= 'Save Password'
        %}
      </div>
      <div>
        <p>¿Tienes algún problema? <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">Contacta con el administrador</a>.</p>
      </div>
    </div>
  </section>
</main>
{% endblock %}
{% block footer %}
    {% global_partial path="../partials/footer_landing_page.html" %}
{% endblock %}
