<!--
  templateType: membership_reset_request_page
  isAvailableForNewContent: true
  label: Font - reset password request
-->
{% extends '../layouts/base.html' %}

{% block header %}
{% global_partial path="../partials/header_landing_page_font.html" %}
{% endblock %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      <h4>Restablece tu contraseña</h4>
      <p class="introduction">¿A qué dirección debemos enviar un correo electrónico para restablecer la contraseña?</p>
      <div class="form-container">
        {% password_reset_request 'my_password_reset_request'
          email_label='Email',
          submit_button_text='Enviar e-mail de reestablecimiento'
        %}
      </div>
      <div>
        <p>¿Tienes algún problema? <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">Contacta con el
            administrador</a>.</p>
      </div>
    </div>
  </section>
</main>
<style>
  p,
  label {
    font-size: 16px;
  }

  body form .hs-input,
  body form .hs-search-field__input,
  body form select,
  body form #hs-pwd-widget-password,
  body form textarea {
    margin-bottom: 10px;
  }
</style>
{% endblock %}
{% block footer %}
{% global_partial path="../partials/footer_landing_page.html" %}
{% endblock %}