<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Font - Password Prompt Page
-->
{% extends "../layouts/base.html" %}

{% block body %}
<div class="content-wrapper">
  <div class="systems-page">
    {% module "password_prompt" path="@hubspot/password_prompt" 
    password_prompt submit_button_text='Enviar', 
    password_placeholder='Contraseña', 
    bad_password_message='{{ module.bad_password_message }}'
    %}
  </div>
</div>
{% endblock body %}
