<!--
  templateType: search_results_page
  isAvailableForNewContent: true
  label: Search Results Page
-->
{% extends "../layouts/base.html" %}

{% block body %}
<div class="content-wrapper">
  <div class="systems-page">
    <h1>Resultados para "{{ request.query_dict.term|escape }}"</h1>
    {% module "search_results" path="@hubspot/search_results" %}
  </div>
</div>
{% endblock body %}
