<!--
  templateType: email_subscription_preferences_page
  isAvailableForNewContent: true
  label: Email Subscription Preferences Page
-->
{% extends "../layouts/base.html" %}

{% block body %}
<div class="content-wrapper">
  <div class="systems-page form_width">
    {% module "subscription_preferences" path="@hubspot/email_subscriptions"
    unsubscribe_single_text="Marque el tipo de correo electrónico que desea recibir:",
    subheader_text="Si esta no es su dirección de correo electrónico, ignore esta página, lo más probable es que se le haya enviado el correo electrónico por error." 
    button_text="Actualizar preferencias de correo",
    header="Preferencias de comunicación",
    unsubscribe_all_option="Darme de baja de todas las listas de correo",
    unsubscribe_all_text="O marque aquí para no recibir ningún correo electrónico:"
    %}
  </div>
</div>
{% endblock body %}
