<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
  label: Email Subscriptions Confirmation Page
-->
{% extends "../layouts/base.html" %}

{% block body %}
<div class="content-wrapper">
  <div class="systems-page">
    {% module "subscriptions_confirmation" path="@hubspot/email_subscriptions_confirmation" 
    header='Confirmación de suscripción',
    subscription_update_success="Ha actualizado correctamente sus preferencias de correo electrónico.", 
    subheader_text="Si esta no es su dirección de correo electrónico, ignore esta página, lo más probable es que se le haya enviado el correo electrónico por error."
    %}
  </div>
</div>
{% endblock body %}
