<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<section class="custom-object-section">
  <div class="content-wrapper">
    <div class="breadcrumbs_container">
      <div class="breadcrumbs-wrapper">
        <div class="breadcrumbs-vertical_line">
        </div>
        <div class="breadcrumbs-content">
          <span class="bread-title"><a href="https://fontpackaging.com/dashboard">
              {{ module.inicio_text }}
            </a></span>
          <span class="breadcrumbs_dot">

          </span>
          <span class="breadcrumbs">
            {{ module.title }}
          </span>
        </div>
      </div>
    </div>
    <div class="title_container">
      <div class="title_wrapper">
        <h2>
          {{ module.title }}:
        </h2>
        <div class="contact_container">
          <div class="breadcrumbs-vertical_line">
          </div>
          <p>{{contact.firstname}}</p>
        </div>

      </div>
      <div class="fliter_search-container">
        <div class="filter_container">
          <p>
            {{ module.filter_title_text }}
          </p>
          <div class="filter_dropdown">
            <select id="dropdown" class="filter-dropdown">
              <option value="empresa" selected>{{ module.drop_down.drop_down_default_text }}</option>
              <option value="font">{{ module.drop_down.drop_down_first_text }}</option>
              <option value="troquel">{{ module.drop_down.drop_down_second_text }}</option>
            </select>
          </div>
        </div>
        <div class="search_container">
          <div class="search-wrapper">
            <input type="text" id="searchBar">
            <div class="search-icon-container">
              <img
                src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/Union%20(1).svg"
                alt="search">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="table-main_container">
      <div class="table_container">
        <div class="table-wrapper table-title">
          <span>Empresa</span>
          <span>ID Presupuesto</span>
          <span>Titulo</span>
          <span>Fecha</span>
          <span>ID Cliente</span>
          <span>Descarga</span>

        </div>
        <div class="table-content" id="data-table">
          <div id="loader" class="loader"></div>

        </div>
      </div>
    </div>
    <div class="pagination-container"></div>
  </div>
</section>