{% set diaactual = local_dt|datetimeformat('%d') %}
{% set mesactual = local_dt|datetimeformat('%m') %}
{% set yearactual = local_dt|datetimeformat('%Y') %}
{% set obj = {val : 0} %}
{% set filtros = ['orderBy=orden'] %}
{% set categoria_param = request.query_dict.categoria %}
{% set subcategoria_param = request.query_dict.subcategoria %}
{% set current_lang = content.language.languageTag %}


{% set buscar_productos = "Buscar productos..." %}
{% set filtrar_por = "Filtrar por" %}
{% set todos_categorias = "Todas las categorias" %}
{% set todos_subcategorias = "Todos las subcategorias" %}
{% set no_resultados = "No hay resultados" %}
{% set lang = "" %}
{% set slug_productos = "productos-por-categoria" %}

{# Labels ES - Categorias #}
{% set label_embalaje_consumo = "Embalaje de Consumo" %}
{% set label_embalaje_industrial = "Embalaje Industrial" %}
{% set label_embalaje_plastico = "Embalaje de Plástico" %}
{% set label_embalaje_isotermico = "Embalaje Isotérmico" %}
{% set label_embalaje_proteccion = "Embalaje de Protección" %}
{% set label_palets_carton = "Palets de Cartón" %}
{% set label_carton_ondulado = "Cartón Ondulado" %}

{# Labels ES - Subcategorias #}
{% set label_sub_cajas_carton = "Cajas de Cartón" %}
{% set label_sub_cajas_botellas = "Cajas para Botellas" %}
{% set label_sub_cajas_peligrosas = "Cajas para Mercancías Peligrosas" %}
{% set label_sub_carretes_carton = "Carretes de cartón" %}
{% set label_sub_cajas_recubrimientos = "Cajas con recubrimientos especiales" %}
{% set label_sub_cajas_lotes = "Cajas para Lotes" %}
{% set label_sub_cajas_ropa = "Cajas para ropa y textil" %}
{% set label_sub_packaging_offset = "Packaging offset" %}
{% set label_sub_cajas_ecommerce = "Cajas para ecommerce" %}
{% set label_sub_gran_embalaje = "Gran Embalaje Industrial" %}
{% set label_sub_octabines_solidos = "Octabines de sólidos" %}
{% set label_sub_contenedores_liquidos = "Contenedores para liquidos" %}
{% set label_sub_kits_embalaje = "Kits de Embalaje" %}
{% set label_sub_cajas_reutilizables = "Cajas Reutilizables" %}
{% set label_sub_contenedores_reutilizables = "Contenedores Reutilizables" %}
{% set label_sub_acondicionadores = "Acondicionadores de embalaje" %}
{% set label_sub_cajas_isotermicas = "Cajas Isotérmicas" %}
{% set label_sub_eco = "ECO+" %}
{% set label_sub_contenedores_isotermicos = "Contenedores isotérmicos" %}
{% set label_sub_acumuladores = "Acumuladores" %}
{% set label_sub_material_anticorrosion = "Material Anticorrosión" %}
{% set label_sub_relleno_proteccion = "Relleno y Protección" %}
{% set label_sub_celulosa_moldeada = "Celulosa Moldeada" %}
{% set label_sub_cantoneras_tubos = "Cantoneras y Tubos" %}
{% set label_sub_cintas_adhesivas = "Cintas adhesivas de papel" %}

{% if current_lang == "es" %}
  {% if subcategoria_param %}
    {% do filtros.append("subcategoria__in=" ~ subcategoria_param) %}
    {% require_js %}
      <script type="text/javascript">
        $('#subcategorias option[value="{{subcategoria_param}}"]').attr("selected", "selected");
      </script>
    {% end_require_js %}
  {% endif %}

  {% if categoria_param %}
    {% do filtros.append("categoria__in=" ~ categoria_param) %}
    {% require_js %}
      <script type="text/javascript">
        $('#categorias option[value="{{categoria_param}}"]').attr("selected", "selected");
      </script>
    {% end_require_js %}
  {% endif %}
{% endif %}


{# EN #}
{% if current_lang == "en" %}
  {% set buscar_productos = "Search products..." %}
  {% set filtrar_por = "Filter by" %}
  {% set todos_categorias = "All categories" %}
  {% set todos_subcategorias = "All subcategories" %}
  {% set no_resultados = "No results" %}
  {% set lang = "/en" %}
  {% set slug_productos = "products-by-category" %}

  {# Labels EN - Categoria #}
  {% set label_embalaje_consumo = "Consumer Packaging" %}
  {% set label_embalaje_industrial = "Industrial Packaging" %}
  {% set label_embalaje_plastico = "Plastic Packaging" %}
  {% set label_embalaje_isotermico = "Isothermal Packaging" %}
  {% set label_embalaje_proteccion = "Protective Packaging" %}
  {% set label_palets_carton = "Cardboard Pallets" %}
  {% set label_carton_ondulado = "Corrugated Cardboard" %}

  {# Labels EN - Subcategorias #}
  {% set label_sub_cajas_carton = "Cardboard Boxes" %}
  {% set label_sub_cajas_botellas = "Bottle Cases" %}
  {% set label_sub_cajas_peligrosas = "Dangerous Goods Boxes" %}
  {% set label_sub_carretes_carton = "Cardboard Reels" %}
  {% set label_sub_cajas_recubrimientos = "Boxes with special coatings" %}
  {% set label_sub_cajas_lotes = "Boxes for batches" %}
  {% set label_sub_cajas_ropa = "Clothing and textile boxes" %}
  {% set label_sub_packaging_offset = "Offset packaging" %}
  {% set label_sub_cajas_ecommerce = "Ecommerce Boxes" %}
  {% set label_sub_gran_embalaje = "Large Industrial Packaging" %}
  {% set label_sub_octabines_solidos = "Octabins for solids" %}
  {% set label_sub_contenedores_liquidos = "Containers for liquids" %}
  {% set label_sub_kits_embalaje = "Packaging kits" %}
  {% set label_sub_cajas_reutilizables = "Reusable boxes" %}
  {% set label_sub_contenedores_reutilizables = "Reusable containers" %}
  {% set label_sub_acondicionadores = "Packaging conditioners" %}
  {% set label_sub_cajas_isotermicas = "Isothermal Boxes" %}
  {% set label_sub_eco = "ECO+" %}
  {% set label_sub_contenedores_isotermicos = "Isothermal Containers" %}
  {% set label_sub_acumuladores = "EAcumulators" %}
  {% set label_sub_material_anticorrosion = "Anticorrosion Material" %}
  {% set label_sub_relleno_proteccion = "Filling and Protection" %}
  {% set label_sub_celulosa_moldeada = "Molded Cellulose" %}
  {% set label_sub_cantoneras_tubos = "Corner pieces and tubes" %}
  {% set label_sub_cintas_adhesivas = "Paper adhesive tapes" %}

  {% if subcategoria_param %}
    {% do filtros.append("subcategoria_en__in=" ~ subcategoria_param) %}
    {% require_js %}
      <script type="text/javascript">
        $('#subcategorias option[value="{{subcategoria_param}}"]').attr("selected", "selected");
      </script>
    {% end_require_js %}
  {% endif %}

  {% if categoria_param %}
    {% do filtros.append("categoria_en__in=" ~ categoria_param) %}
    {% require_js %}
      <script type="text/javascript">
        $('#categorias option[value="{{categoria_param}}"]').attr("selected", "selected");
      </script>
    {% end_require_js %}
  {% endif %}
{% endif %}

{# FR #}
{% if current_lang == "fr" %}
  {% set buscar_productos = "Rechercher des produits..." %}
  {% set filtrar_por = "Filtrer par" %}
  {% set todos_categorias = "Toutes les catégories" %}
  {% set todos_subcategorias = "Toutes les sous-catégories" %}
  {% set no_resultados = "Sans résultats" %}
  {% set lang = "/fr" %}
  {% set slug_productos = "produits-par-categorie" %}

  {# Labels FR - Categoria #}
  {% set label_embalaje_consumo = "Emballage pour les consommateurs" %}
  {% set label_embalaje_industrial = "Emballage industriel" %}
  {% set label_embalaje_plastico = "Emballage en plastique" %}
  {% set label_embalaje_isotermico = "Emballage isotherme" %}
  {% set label_embalaje_proteccion = "Emballage de protection" %}
  {% set label_palets_carton = "Palettes en carton" %}
  {% set label_carton_ondulado = "Carton ondulé" %}

  {# Labels FR - Subcategorias #}
  {% set label_sub_cajas_carton = "Boîtes en carton" %}
  {% set label_sub_cajas_botellas = "Casiers à bouteilles" %}
  {% set label_sub_cajas_peligrosas = "Boîtes pour marchandises dangereuses" %}
  {% set label_sub_carretes_carton = "Enrouleurs en carton" %}
  {% set label_sub_cajas_recubrimientos = "Boîtes avec des revêtements spéciaux" %}
  {% set label_sub_cajas_lotes = "Boîtes pour les lots" %}
  {% set label_sub_cajas_ropa = "Boîtes à vêtements et à textiles" %}
  {% set label_sub_packaging_offset = "Emballage offset" %}
  {% set label_sub_cajas_ecommerce = "Boîtes de commerce électronique" %}
  {% set label_sub_gran_embalaje = "Grands emballages industriels" %}
  {% set label_sub_octabines_solidos = "Octabins pour solides" %}
  {% set label_sub_contenedores_liquidos = "Récipients pour liquides" %}
  {% set label_sub_kits_embalaje = "Kits d'emballage" %}
  {% set label_sub_cajas_reutilizables = "Boîtes réutilisables" %}
  {% set label_sub_contenedores_reutilizables = "Conteneurs réutilisables" %}
  {% set label_sub_acondicionadores = "Conditionneurs d'emballage" %}
  {% set label_sub_cajas_isotermicas = "Boîtes isothermes" %}
  {% set label_sub_eco = "ECO+" %}
  {% set label_sub_contenedores_isotermicos = "Conteneurs isothermes" %}
  {% set label_sub_acumuladores = "Accumulateurs" %}
  {% set label_sub_material_anticorrosion = "Matériau anticorrosion" %}
  {% set label_sub_relleno_proteccion = "Remplissage et protection" %}
  {% set label_sub_celulosa_moldeada = "Fibre moulée" %}
  {% set label_sub_cantoneras_tubos = "Protections d'angle et protections d'angle" %}
  {% set label_sub_cintas_adhesivas = "Rubans adhésifs en papier" %}

  {% if subcategoria_param %}
    {% do filtros.append("subcategoria_fr__in=" ~ subcategoria_param) %}
    {% require_js %}
      <script type="text/javascript">
        $('#subcategorias option[value="{{subcategoria_param}}"]').attr("selected", "selected");
      </script>
    {% end_require_js %}
  {% endif %}

  {% if categoria_param %}
    {% do filtros.append("categoria_fr__in=" ~ categoria_param) %}
    {% require_js %}
      <script type="text/javascript">
        $('#categorias option[value="{{categoria_param}}"]').attr("selected", "selected");
      </script>
    {% end_require_js %}
  {% endif %}
{% endif %}

{# CA #}
{% if current_lang == "ca" %}
  {% set buscar_productos = "Buscar productes..." %}
  {% set filtrar_por = "Filtrar per" %}
  {% set todos_categorias = "Totes les categories" %}
  {% set todos_subcategorias = "Totes les subcategories" %}
  {% set no_resultados = "No hi ha resultats" %}
  {% set lang = "/ca" %}
  {% set slug_productos = "productes-per-categoria" %}

  {# Labels CA - Categoria #}
  {% set label_embalaje_consumo = "Embalatge de Consum" %}
  {% set label_embalaje_industrial = "Embalatge Industrial" %}
  {% set label_embalaje_plastico = "Embalatge de Plàstic" %}
  {% set label_embalaje_isotermico = "Embalatge Isotèrmic" %}
  {% set label_embalaje_proteccion = "Embalatge de protecció" %}
  {% set label_palets_carton = "Palets de Cartró" %}
  {% set label_carton_ondulado = "Cartró Ondulat" %}

  {# Labels CA - Subcategorias #}
  {% set label_sub_cajas_carton = "Caixes de cartró" %}
  {% set label_sub_cajas_botellas = "Caixes per ampolles" %}
  {% set label_sub_cajas_peligrosas = "Caixes per a Mercaderies Perilloses" %}
  {% set label_sub_carretes_carton = "Carrets de cartró" %}
  {% set label_sub_cajas_recubrimientos = "Caixes cpn recobriments especials" %}
  {% set label_sub_cajas_lotes = "Caixes per a Lots" %}
  {% set label_sub_cajas_ropa = "Caixes per a roba i tèxtil" %}
  {% set label_sub_packaging_offset = "Packaging offset" %}
  {% set label_sub_cajas_ecommerce = "Caixes per a ecommerce" %}
  {% set label_sub_gran_embalaje = "Gran embalatge industrial" %}
  {% set label_sub_octabines_solidos = "Octabins per a sòlids" %}
  {% set label_sub_contenedores_liquidos = "Contenidors per a líquids" %}
  {% set label_sub_kits_embalaje = "Kits d'embalatge" %}
  {% set label_sub_cajas_reutilizables = "Caixes reutilitzables" %}
  {% set label_sub_contenedores_reutilizables = "Contenidors reutilitzables" %}
  {% set label_sub_acondicionadores = "Condicionadors d'embalatge" %}
  {% set label_sub_cajas_isotermicas = "Caixes Isotèrmiques" %}
  {% set label_sub_eco = "ECO+" %}
  {% set label_sub_contenedores_isotermicos = "Contenidors Isotèrmics" %}
  {% set label_sub_acumuladores = "Acumuladors" %}
  {% set label_sub_material_anticorrosion = "Material Anticorrosió" %}
  {% set label_sub_relleno_proteccion = "Farciment i protecció" %}
  {% set label_sub_celulosa_moldeada = "Cel·lulosa Emmotllada" %}
  {% set label_sub_cantoneras_tubos = "Cantoneres i tubs" %}
  {% set label_sub_cintas_adhesivas = "Cintas adhesivas de papel" %}

  {% if subcategoria_param %}
    {% do filtros.append("subcategoria_ca__in=" ~ subcategoria_param) %}
    {% require_js %}
      <script type="text/javascript">
        $('#subcategorias option[value="{{subcategoria_param}}"]').attr("selected", "selected");
      </script>
    {% end_require_js %}
  {% endif %}

  {% if categoria_param %}
    {% do filtros.append("categoria_ca__in=" ~ categoria_param) %}
    {% require_js %}
      <script type="text/javascript">
        $('#categorias option[value="{{categoria_param}}"]').attr("selected", "selected");
      </script>
    {% end_require_js %}
  {% endif %}
{% endif %}

{% set productos_hubDB = hubdb_table_rows(module.tabla_de_productos, filtros|join('&')) %}

<input type="text" id="search-productos" name="search-productos" placeholder="{{ buscar_productos }}">
{% if language == 'es' %}
<div class="text">
  {% menu id="{{ module.menu_field }}" %}
</div>
{% elif language == 'en' %}
<div class="text">
  {% menu id="{{ module.men_en }}" %}
</div>
{% elif language == 'fr' %}
<div class="text">
  {% menu id="{{ module.men_fr }}" %}
</div>
{% elif language == 'ca' %}
<div class="text">
  {% menu id="{{ module.men_ca }}" %}
</div>
{% endif %}

<div id="filtros">
  <p>
    {{ filtrar_por }}:
  </p>
  <div>
    <select id="categorias">
      <option selected="selected" value="">{{ todos_categorias }}</option>
      <option value="{{ label_embalaje_consumo }}">{{ label_embalaje_consumo }}</option>
      <option value="{{ label_embalaje_industrial }}">{{ label_embalaje_industrial }}</option>
      <option value="{{ label_embalaje_plastico }}">{{ label_embalaje_plastico }}</option>
      <option value="{{ label_embalaje_isotermico }}">{{ label_embalaje_isotermico }}</option>
      <option value="{{ label_embalaje_proteccion }}">{{ label_embalaje_proteccion }}</option>
      <option value="{{ label_palets_carton }}">{{ label_palets_carton }}</option>
      <option value="{{ label_carton_ondulado }}">{{ label_carton_ondulado }}</option>
    </select>
    <select id="subcategorias">
      <option selected="selected" value="">{{ todos_subcategorias }}</option>
      <option value="{{ label_sub_cajas_carton }}">{{ label_sub_cajas_carton }}</option>
      <option value="{{ label_sub_cajas_botellas }}">{{ label_sub_cajas_botellas }}</option>
      <option value="{{ label_sub_cajas_peligrosas }}">{{ label_sub_cajas_peligrosas }}</option>
      <option value="{{ label_sub_carretes_carton }}">{{ label_sub_carretes_carton }}</option>
      <option value="{{ label_sub_cajas_recubrimientos }}">{{ label_sub_cajas_recubrimientos }}</option>
      <option value="{{ label_sub_cajas_lotes }}">{{ label_sub_cajas_lotes }}</option>
      <option value="{{ label_sub_cajas_ropa }}">{{ label_sub_cajas_ropa }}</option>
      <option value="{{ label_sub_packaging_offset }}">{{ label_sub_packaging_offset }}</option>
      <option value="{{ label_sub_cajas_ecommerce }}">{{ label_sub_cajas_ecommerce }}</option>
      <option value="{{ label_sub_gran_embalaje }}">{{ label_sub_gran_embalaje }}</option>
      <option value="{{ label_sub_octabines_solidos }}">{{ label_sub_octabines_solidos }}</option>
      <option value="{{ label_sub_contenedores_liquidos }}">{{ label_sub_contenedores_liquidos }}</option>
      <option value="{{ label_sub_kits_embalaje }}">{{ label_sub_kits_embalaje }}</option>
      <option value="{{ label_sub_cajas_reutilizables }}">{{ label_sub_cajas_reutilizables }}</option>
      <option value="{{ label_sub_contenedores_reutilizables }}">{{ label_sub_contenedores_reutilizables }}</option>
      <option value="{{ label_sub_acondicionadores }}">{{ label_sub_acondicionadores }}</option>
      <option value="{{ label_sub_cajas_isotermicas }}">{{ label_sub_cajas_isotermicas }}</option>
      <option value="{{ label_sub_eco }}">{{ label_sub_eco }}</option>
      <option value="{{ label_sub_contenedores_isotermicos }}">{{ label_sub_contenedores_isotermicos }}</option>
      <option value="{{ label_sub_acumuladores }}">{{ label_sub_acumuladores }}</option>
      <option value="{{ label_sub_material_anticorrosion }}">{{ label_sub_material_anticorrosion }}</option>
      <option value="{{ label_sub_relleno_proteccion }}">{{ label_sub_relleno_proteccion }}</option>
      <option value="{{ label_sub_celulosa_moldeada }}">{{ label_sub_celulosa_moldeada }}</option>
      <option value="{{ label_sub_cantoneras_tubos }}">{{ label_sub_cantoneras_tubos }}</option>
      <option value="{{ label_sub_cintas_adhesivas }}">{{ label_sub_cintas_adhesivas }}</option>
      <option value="CLICKpal">CLICKpal</option>
      <option value="CLICKbox">CLICKbox</option>
      <option value="CLICKair">CLICKair</option>
    </select>
  </div>
</div>

<div id="listado-productos" class="row">
   {% for row in productos_hubDB %}
       {% set name = row.name %}  
          
         {% if current_lang == "en" %}
          {% set name = row.nombre_en %}
         {% endif %}
         
         {% if current_lang == "fr" %}
          {% set name = row.nombre_fr %}
         {% endif %}
  
         {% if current_lang == "ca" %}
          {% set name = row.nombre_ca %}
         {% endif %}

             <div class="item-producto">
                <div class="box-producto">
                   <a href="{{ lang }}/{{ slug_productos }}/{{ row.hs_path }}" class="box">
                     {% if row.imagen %}
                     <img src="{{row.imagen.url}}" alt="{{ name }}" >
                     {% else %}
                     <img src="{{ get_asset_url('/INSUPACKFontPackagingGroup_April2021/images/PlaceholderProductos.png') }}" alt="{{row.name}}" >
                     {% endif %}
                     <h4 class="mt10"><strong>{{ name }}</strong></h4>   
                   </a>
                </div>
             </div>
  
   {% endfor %}  
</div>

<div id="search-results" style="display: none;">

</div>
<div id="nothing-found" style="display: none;">
  {{ no_resultados }}
</div>