#listado-productos, #search-results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 40px;
  align-items: flex-start;
  text-align: center;
  margin-top: 60px;
}
#listado-productos h4, #search-results h4 {
    font-size: 21px;
}
.box img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.box-producto a {
    margin-top: 20px;
}
input#search-productos {
    border: 1px solid #777;
    border-radius: 24px;
    line-height: 48px;
    padding: 0 24px;
    padding-right: 60px;
    width: 100%;
    margin-bottom: 40px;
    background-image: url(https://f.hubspotusercontent20.net/hubfs/9149224/Icono_Buscador2.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 24px) center;
    font-weight: 500;
    font-size: 19px;
    font-family: "MyriadPro-Regular",Helvetica,sans-serif;
}
input#search-productos:focus-visible {
    outline: none;
    box-shadow: 0 0 5px 0 #bbb;
}
#search-results {
  min-height: 500px;
}

#filtros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-family: "MyriadPro-Regular",Helvetica,sans-serif;
}
#filtros p {
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 500;
    margin-left: 24px;
}
#filtros select {
    background: none;
    border: none;
    font-size: 19px;
}
select#sectores {
    width: 240px;
}
#nothing-found {
    text-align: center;
    margin: 80px;
    font-size: 20px;
    font-weight: 600;
}

@media (min-width: 481px) and (max-width: 769px) {
  .box img {
    width: 100%;
  }
  select {
    width: 170px!important;
  }
  #filtros * {
    font-size: 1rem!important;
  }
}
@media (max-width: 480px) {
  #filtros {
    flex-wrap: wrap;
  }
  #filtros p {
    width: 100%;
    margin-left: 4px;
    margin-bottom: 10px;
  }
  select {
    width: 200px!important;
  }
  .box-producto .box {
    min-height: 0!important;
  }
}