{% set diaactual = local_dt|datetimeformat('%d') %}
{% set mesactual = local_dt|datetimeformat('%m') %}
{% set yearactual = local_dt|datetimeformat('%Y') %}
{% set obj = {val : 0} %}
{% set filtros = ['&orderBy=random()'] %}
{% set sector_param = request.query_dict.sector %}
{% set current_lang = content.language.languageTag %}

{# Labels ES - Sectores #}
{% set buscar_productos = "Buscar productos..." %}
{% set filtrar_por = "Filtrar por" %}
{% set todos_sectores = "Todas los sectores" %}
{% set no_resultados = "No hay resultados" %}
{% set lang = "" %}
{% set slug_productos = "productos-por-sector" %}

{% set label_agricultura = "Agricultura" %}
{% set label_alimentacion = "Alimentación" %}
{% set label_automocion = "Automoción" %}
{% set label_farmaceutico = "Farmacéutico" %}
{% set label_quimico = "Químico" %}
{% set label_plastico = "Plástico" %}
{% set label_metalurgica = "Metalúrgica" %}
{% set label_textil = "Téxtil" %}
{% set label_maquinaria = "Maquinaria" %}
{% set label_ecommerce = "Ecommerce" %}
{% set label_logistica = "Logística" %}
{% set label_artes_graficas = "Artes Gráficas" %}
{% set label_electronica = "Electrónica y Electrodomésticos" %}

{% if current_lang == "es" %}
  {% if sector_param %}
    {% do filtros.append("sector__in=" ~ sector_param) %}
    {% require_js %}
      <script type="text/javascript">
        $('#sectores option[value="{{sector_param}}"]').attr("selected", "selected");
      </script>
    {% end_require_js %}
  {% endif %}
{% endif %}

{# Labels EN - Sectores #}
{% if current_lang == "en" %}
  {% set buscar_productos = "Search products..." %}
  {% set filtrar_por = "Filter by" %}
  {% set todos_sectores = "All sectors" %}
  {% set no_resultados = "No results" %}
  {% set lang = "/en" %}
  {% set slug_productos = "products-by-sector" %}

  {% set label_agricultura = "Agriculture" %}
  {% set label_alimentacion = "Nutrition" %}
  {% set label_automocion = "Automotive" %}
  {% set label_farmaceutico = "Pharmaceutical" %}
  {% set label_quimico = "Chemical" %}
  {% set label_plastico = "Plastic" %}
  {% set label_metalurgica = "Metallurgy" %}
  {% set label_textil = "Textile" %}
  {% set label_maquinaria = "Machinery" %}
  {% set label_ecommerce = "Ecommerce" %}
  {% set label_logistica = "Logistics" %}
  {% set label_artes_graficas = "Graphic Arts" %}
  {% set label_electronica = "Electronics and Household Appliances" %}

  {% if sector_param %}
    {% do filtros.append("sector_en__in=" ~ sector_param) %}
    {% require_js %}
      <script type="text/javascript">
        $('#sectores option[value="{{sector_param}}"]').attr("selected", "selected");
      </script>
    {% end_require_js %}
  {% endif %}

{% endif %}

{# Labels FR - Sectores #}
{% if current_lang == "fr" %}
  {% set buscar_productos = "Rechercher des produits..." %}
  {% set filtrar_por = "Filtrer par" %}
  {% set todos_sectores = "Tous secteurs" %}
  {% set no_resultados = "Sans résultats" %}
  {% set lang = "/fr" %}
  {% set slug_productos = "produits-par-secteur" %}

  {% set label_agricultura = "Agriculture" %}
  {% set label_alimentacion = "Alimentation" %}
  {% set label_automocion = "Automobile" %}
  {% set label_farmaceutico = "Pharmacien" %}
  {% set label_quimico = "Chimiste" %}
  {% set label_plastico = "Plastique" %}
  {% set label_metalurgica = "Métalurgie" %}
  {% set label_textil = "Textile" %}
  {% set label_maquinaria = "Machines" %}
  {% set label_ecommerce = "Commerce électronique" %}
  {% set label_logistica = "Logistique" %}
  {% set label_artes_graficas = "Arts graphiques" %}
  {% set label_electronica = "Électronique et appareils ménagers" %}

  {% if sector_param %}
    {% do filtros.append("sector_fr__in=" ~ sector_param) %}
    {% require_js %}
      <script type="text/javascript">
        $('#sectores option[value="{{sector_param}}"]').attr("selected", "selected");
      </script>
    {% end_require_js %}
  {% endif %}

{% endif %}

{# Labels CA - Sectores #}
{% if current_lang == "ca" %}
  {% set buscar_productos = "Buscar productes..." %}
  {% set filtrar_por = "Filtrar per" %}
  {% set todos_sectores = "Tots els sectors" %}
  {% set no_resultados = "No hi ha resultats" %}
  {% set lang = "/ca" %}
  {% set slug_productos = "productes-per-sector" %}

  {% set label_agricultura = "Agricultura" %}
  {% set label_alimentacion = "Alimentació" %}
  {% set label_automocion = "Automoció" %}
  {% set label_farmaceutico = "Farmacèutic" %}
  {% set label_quimico = "Químic" %}
  {% set label_plastico = "Plàstic" %}
  {% set label_metalurgica = "Metal·lúrgia" %}
  {% set label_textil = "Tèxtil" %}
  {% set label_maquinaria = "Maquinària" %}
  {% set label_ecommerce = "Ecommerce" %}
  {% set label_logistica = "Logístic" %}
  {% set label_artes_graficas = "Arts Gràfiques" %}
  {% set label_electronica = "Electrònica i Electrodomèstics" %}

  {% if sector_param %}
    {% do filtros.append("sector_ca__in=" ~ sector_param) %}
    {% require_js %}
      <script type="text/javascript">
        $('#sectores option[value="{{sector_param}}"]').attr("selected", "selected");
      </script>
    {% end_require_js %}
  {% endif %}

{% endif %}

<input type="text" id="search-productos" name="search-productos" placeholder="{{ buscar_productos }}">

<div id="filtros">
  <p>
    {{ filtrar_por }}
  </p>
  <select id="sectores">
    <option selected="selected" value="">{{ todos_sectores }}</option>
    <option value="{{ label_agricultura }}">{{ label_agricultura }}</option>
    <option value="{{ label_alimentacion }}">{{ label_alimentacion }}</option>
    <option value="{{ label_automocion }}">{{ label_automocion }}</option>
    <option value="{{ label_farmaceutico }}">{{ label_farmaceutico }}</option>
    <option value="{{ label_quimico }}">{{ label_quimico }}</option>
    <option value="{{ label_plastico }}">{{ label_plastico }}</option>
    <option value="{{ label_metalurgica }}">{{ label_metalurgica }}</option>
    <option value="{{ label_textil }}">{{ label_textil }}</option>
    <option value="{{ label_maquinaria }}">{{ label_maquinaria }}</option>
    <option value="{{ label_ecommerce }}">{{ label_ecommerce }}</option>
    <option value="{{ label_logistica }}">{{ label_logistica }}</option>
    <option value="{{ label_artes_graficas }}">{{ label_artes_graficas }}</option>
    <option value="{{ label_electronica }}">{{ label_electronica }}</option>
  </select>
</div>

<div id="listado-productos" class="row">
   {% for row in hubdb_table_rows(module.tabla_de_productos, filtros|join('&')) %}
  
      {% set name = row.name %}  
          
      {% if current_lang == "en" %}
        {% set name = row.nombre_en %}
      {% endif %}

      {% if current_lang == "fr" %}
        {% set name = row.nombre_fr %}
      {% endif %}

      {% if current_lang == "ca" %}
        {% set name = row.nombre_ca %}
      {% endif %}
  
             <div class="item-producto">
                <div class="box-producto">
                   <a href="{{ lang }}/{{ slug_productos }}/{{ row.hs_path }}" class="box">
                     {% if row.imagen %}
                     <img src="{{row.imagen.url}}" alt="{{ name }}" >
                     {% else %}
                     <img src="{{ get_asset_url('/INSUPACKFontPackagingGroup_April2021/images/PlaceholderProductos.png') }}" alt="{{ name }}" >
                     {% endif %}
                     <h4 class="mt10"><strong>{{ name }}</strong></h4>   
                   </a>
                </div>
             </div>
  
   {% endfor %}  
</div>

<div id="search-results" style="display: none;">

</div>
<div id="nothing-found" style="display: none;">
  {{ no_resultados }}
</div>