<!--
templateType: blog_post
isAvailableForNewContent: true
label: Blog Post Font
-->

{% extends './layouts/base.html' %}

{% block body %}
<div class="blog_post_page">
  <div class="content-wrapper">
    <div class="single-navigation">
      <div class="prev-post">
        {% if content.previous_post_slug %}
          <div class="nav-text">
            <a href="/{{ content.previous_post_slug }}"><i class="fa fa-chevron-left"></i> Anterior</a>
          </div>
        {% endif %}
      </div>
      <div class="next-post">
        {% if content.next_post_slug %}
        <div class="nav-text">
          <a href="/{{ content.next_post_slug }}">Siguiente <i class="fa fa-chevron-right"></i></a>
        </div>
        {% endif %}
      </div>
    </div>
    <article class="blog_post_text">
      <h1 class="blog-post__title">{{ content.name }}</h1> 
    </article>
    <div class="post-featured-image" style="background-image: url({{ content.featured_image }})">
      
    </div>
    
    <!--<article class="blog_post_text">
      <h1 class="blog-post__title">{{ content.name }}</h1> 
    </article>-->
    
    <div class="blog-post__body">
      {{ content.post_body }}
    </div>
    
    <div class="fusion-meta-info">
      <div class="fusion-date-and-formats">
        <div class="fusion-date-box updated">
          {{  content.publish_date_local_time.strftime('<span>%e</span>, <span>%m, %Y</span>') }}
          <span class="fusion-inline-sep">|</span> Categorías: 
          {% if content.tag_list %}
          <div class="blog-post__tags">
            {% for tag in content.tag_list %}
            <a class="blog-post__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    
    <div class="social-sharing">
    {% module "module_16764875639823" path='/FontPackagingGroup_April2021/modules/Compartir RRSS', label="Compartir RRSS" %}
    </div>
    
    {#<div class="blog-comments">
      {% module "blog_comments" path="@hubspot/blog_comments", label="Blog Comments" %}
    </div>#}
    
    <div class="related-articles">
      <h4>
        Artículos relacionados
      </h4>
      {% module "related_Post_slider" path="../modules/Related Post Slider.module", label="Related Post Slider" %}
    </div>
    
  </div>
</div>

{% endblock body %}
