<!--
templateType: blog_listing
isAvailableForNewContent: true
label: Blog Listing Font
-->
{% extends "./layouts/base.html" %}

{% block body %}
<div class="banner-section">
  {#% module "banner-blog" path="../modules/Blog Banner Area", label="Banner Blog" %#}
</div>
{% if blog_author %}
<div class="blog-header">
  <div class="blog-header__inner">
    {% if blog_author.avatar %}
    <div class="blog-header__author-avatar" style="background-image: url('{{ blog_author.avatar }}');"></div>
    {% endif %}
    <h1 class="blog-header__title">{{ blog_author.display_name }}</h1>
    <h4 class="blog-header__subtitle">{{ blog_author.bio }}</h4>
    {% if blog_author.has_social_profiles %}
    <div class="blog-header__author-social-links">
      {% if blog_author.website %}
      <a href="{{ blog_author.website }}" target="_blank">
        {% icon name="link" style="SOLID" width="10" %}
      </a>
      {% endif %}
      {% if blog_author.facebook %}
      <a href="{{ blog_author.facebook }}" target="_blank">
        {% icon name="facebook-f" style="SOLID" width="10" %}
      </a>
      {% endif %}
      {% if blog_author.linkedin %}
      <a href="{{ blog_author.linkedin }}" target="_blank">
        {% icon name="linkedin-in" style="SOLID" width="10" %}
      </a>
      {% endif %}
      {% if blog_author.twitter %}
      <a href="{{ blog_author.twitter }}" target="_blank">
        {% icon name="twitter" style="SOLID" width="10" %}
      </a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% else %}

{% endif %}

<!-- if page is a topic -->
{% if tag %}
    <div class="blog_listing_page">
      <div class="content-wrapper">
        <div class="listing_content">
          <div class="listing_top_heading">
            <h1>{{ page_meta.html_title|split(' | ')|last }}</h1>
          </div>
          <div class="blog-index">
            <div class="content-wrapper">
              {% for content in contents %}
              <article class="blog_repeat_items">
                <a href="{{ content.absolute_url }}" class="featured_image_div">
                  {% if content.featured_image %}
                  <img src="{{ content.featured_image }}" alt="Featured Image">
                  {% endif %}
                </a>
                <div class="fusion-post-content post-content"> 
                   <h2><a href="{{ content.absolute_url }}">{{ content.name }}</a></h2>
                  <div class="fusion-date-and-formats">
                  <div class="fusion-date-box updated">
                    {{  content.publish_date_local_time.strftime('<span>%e</span>, <span>%m, %Y</span>') }}
                    <span class="fusion-inline-sep">|</span> Categorías: 
                    {% if content.tag_list %}
                      <div class="blog-post__tags">
                        {% for tag in content.tag_list %}
                          <a class="blog-post__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                    
                </div>
                  <div class="separador">
                    
                  </div>
                  <div class="fusion-post-content-container">
                    <p>{{ content.post_list_content|safe|striptags|truncate(350, '[...]' , false) }}</p>
                  </div>
                  <a class="fusion-read-more" href="{{ content.absolute_url }}" aria-label="{{ content.name }}">Leer Más</a>
                </div>
              </article>
              {% endfor %}
            </div>
          </div>    
        </div>
      </div>
    </div>

    {% if contents.total_page_count > 1 %}
    <div class="blog-pagination">
      {% set page_list = [-2, -1, 0, 1, 2] %}
      {% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
      {% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
      {% elif current_page_num == 2 %}{% set offset = 1 %}
      {% elif current_page_num == 1 %}{% set offset = 2 %}
      {% else %}{% set offset = 0 %}{% endif %}

      <a class="blog-pagination__link blog-pagination__prev-link {{ "blog-pagination__prev-link--disabled" if !last_page_num }}"{% if !last_page_num %} {% else %} href="{{ blog_page_link(last_page_num) }}" {% endif %}>
        {% icon name="chevron-left" style="SOLID", width="13", no_wrapper=True %}
        Ant
      </a>
      {% for page in page_list %}
      {% set this_page = current_page_num + page + offset %}
      {% if this_page > 0 and this_page <= contents.total_page_count %}
      <a class="blog-pagination__link blog-pagination__number-link {{ "blog-pagination__link--active" if this_page == current_page_num }}" href="{{ blog_page_link(this_page) }}">{{ this_page }}</a>
      {% endif %}
      {% endfor %}
      <a class="blog-pagination__link blog-pagination__next-link {{ "blog-pagination__next-link--disabled" if !next_page_num }}" {% if !next_page_num %} {% else %}  href="{{ blog_page_link(current_page_num + 1) }}" {% endif %}>
        Sig
        {% icon name="chevron-right" style="SOLID", width="13", no_wrapper=True %}
      </a>
    </div>

    {% endif %}

{% else %}

    <div class="blog_listing_recent">
      <div class="content-wrapper">
        <h1 style="text-align: center;">
          POST MÁS RECIENTES
        </h1>

        <div class="recent-posts">
          {#{ blog_recent_posts('default', 5) }#}  
          {% set rec_posts = blog_recent_posts('default', 2) %}
          {% for rec_post in rec_posts %}
          
          <div class="recent-post">
            <a href="{{ rec_post.absolute_url }}">
              <div class="featured_image_recent">
                 {% if rec_post.featured_image %}
                  <img src="{{ rec_post.featured_image }}" alt="{{ rec_post.name }}">
                {% endif %}
              </div>
            </a>
            
            <a href="{{ rec_post.absolute_url }}" class="post-title">{{ rec_post.name }}</a>
          </div>

          {% endfor %}

        </div>


      </div>
    </div>

    <div class="blog_listing_topics">
      <div class="content-wrapper">
        <div class="listing_top_heading">
          <h1>Blog Font Packaging</h1>
        </div>
        <div class="blog-topics">
          <a href="/blog/tag/id" class="blog-topic">
            <h3>
              I+D
            </h3>
            <div class="blog-topic-image-wrap">
              <div class="blog-topic-image" style="background-image: url(https://f.hubspotusercontent20.net/hubfs/9149224/ID-400x267.jpg)">

              </div>
            </div>
          </a>
          <a href="/blog/tag/noticias" class="blog-topic">
            <h3>
              Noticias
            </h3>
            <div class="blog-topic-image-wrap">
              <div class="blog-topic-image" style="background-image: url(https://f.hubspotusercontent20.net/hubfs/9149224/Noticias-400x268.jpg)">

              </div>
            </div>
          </a>
          <a href="/blog/tag/formación" class="blog-topic">
            <h3>
              Formación
            </h3>
            <div class="blog-topic-image-wrap">
              <div class="blog-topic-image" style="background-image: url(https://f.hubspotusercontent20.net/hubfs/9149224/Formaci%C3%B3n-400x267.jpg)">

              </div>
            </div>
          </a>
          <a href="/blog/tag/casos-de-éxito" class="blog-topic">
            <h3>
              Casos Éxito
            </h3>
            <div class="blog-topic-image-wrap">
              <div class="blog-topic-image" style="background-image: url(https://f.hubspotusercontent20.net/hubfs/9149224/Casos-de-%C3%A9xito-400x270.jpg)">

              </div>
            </div>
          </a>
          <a href="/blog/tag/retos-ecopack" class="blog-topic">
            <h3>
              Retos ECOpack
            </h3>
            <div class="blog-topic-image-wrap">
              <div class="blog-topic-image" style="background-image: url(https://f.hubspotusercontent20.net/hubfs/9149224/selloPNG-e1573670354561-500x411.png)">

              </div>
            </div>
          </a>
          <a href="/blog/tag/embalaje" class="blog-topic">
            <h3>
              Embalaje
            </h3>
            <div class="blog-topic-image-wrap">
              <div class="blog-topic-image" style="background-image: url(https://f.hubspotusercontent20.net/hubfs/9149224/caixes_B1.jpg)">

              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

{% endif %}



{% endblock body %}
