<!--
    templateType: page
    label: Dashboard
    isAvailableForNewContent: true
-->
{% extends "./layouts/base2.html" %}

{% block body %}
<div class="dashboard-main">
  <div class="dashboard-content_section">
    {% module "module_17101643388021" path="/FontPackagingGroup_April2021/modules/dashboard-content", label="dashboard-content" %}
  </div>
  <div class="dashboard-cards content-wrapper">
    <div class="ds_cards-wrapper">
      <a href="https://fontpackaging.com/presupuestos">
        <div class="dashboard-cards_container">
          <div class="ds_card-icon">
            <img
              src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/PRESUPUESTOS.svg"
              alt="PRESUPUESTOS">
          </div>
          <div class="ds_card-content">
            <p>
              PRESUPUESTOS
            </p>

          </div>
        </div>
      </a>
      <a href="https://fontpackaging.com/pedidos">
      <div class="dashboard-cards_container">
        <div class="ds_card-icon">
          <img src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/PEDIDOS.svg"
            alt="PEDIDOS">
        </div>
        <div class="ds_card-content">
          <p>
            PEDIDOS
          </p>

        </div>
      </div>
    </a>
    <a href="https://fontpackaging.com/albaran">

  
      <div class="dashboard-cards_container">
        <div class="ds_card-icon">
          <img
            src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/ALBARANES.svg"
            alt="ALBARANES">
        </div>
        <div class="ds_card-content">
          <p>
            ALBARANES
          </p>

        </div>
      </div>
    </a>
      <a href="https://fontpackaging.com/facturas">

        <div class="dashboard-cards_container">
          <div class="ds_card-icon">
            <img
              src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/FACTURAS.svg"
              alt="FACTURAS">
          </div>
          <div class="ds_card-content">
            <p>
              FACTURAS
            </p>

          </div>
        </div>
      </a>
      <a href="https://fontpackaging.com/documentos">

        <div class="dashboard-cards_container">
          <div class="ds_card-icon">
            <img
              src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/DOCUMENTOS.svg"
              alt="DOCUMENTOS">
          </div>
          <div class="ds_card-content">
            <p>
              DOCUMENTOS
            </p>

          </div>
        </div>
      </a>
    </div>
  </div>

</div>
{% endblock body %}