<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing Page
-->
{% extends "./layouts/base.html" %}

{% block header %}
  {% global_partial path="./partials/header_landing_page.html" %}
{% endblock header %}

{% block body %}
<div class="banner-section">
  {% dnd_area "banner-section" class='banner-area', label='Banner Section' %}
    {% dnd_section full_width=true %}
      {% dnd_module path='../modules/Banner', width=12, offset=0, label="" %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  {% end_dnd_area %}
</div>
<main class="body-container-wrapper">
  {% set placeholder = {
      'src': get_asset_url('../images/grayscale-mountain.png'),
      'alt': 'Stock placeholder image with grayscale geometrical mountain landscape',
      'size_type': 'auto'
    }
  %}
  {% dnd_area "main-section" class='body-container body-container__landing', label='Main section' %}

    {% dnd_section vertical_alignment='MIDDLE' %}
      {% dnd_module path='@hubspot/linked_image',
        width=6,
        img= {{ placeholder }}
      %}
      {% end_dnd_module %}
      {% dnd_column width=6, offset=6 %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute "html"%}
              <h1>Download your free eBook</h1>
              <p>Use this space to tell everyone what your eBook is all about.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/form' %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% dnd_section vertical_alignment='MIDDLE' %}
      {% dnd_column width=4 %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/linked_image', img= {{ placeholder }} %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text'%}
            {% module_attribute "html"%}
              <h3>Feature one</h3>
              <p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column width=4, offset=4 %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/linked_image', img= {{ placeholder }} %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute "html"%}
              <h3>Feature two</h3>
              <p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column width=4, offset=8 %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/linked_image', img={{ placeholder }} %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute "html"%}
              <h3>Feature three</h3>
              <p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  {% end_dnd_area %}
</main>
{% endblock body %}

{% block footer %}
   {% global_partial path="./partials/footer_landing_page.html" %}
{% endblock footer%}
