<!--
  templateType: page
  isAvailableForNewContent: true
  label: Productos Font Sectores
-->
{% extends "./layouts/base.html" %}

{% block body %}
{{ require_css(get_asset_url("../css/productos.css")) }}


{% set single = false %}
{% set singleClass = "" %}

{% if dynamic_page_hubdb_row %}
  {% set single = true %}
  {% set singleClass = "single-product" %}
{% endif %}

{% if single == false %}
<div class="banner-section">
  {% dnd_area "DND_banner" class='banner-area', label='Banner Section' %}
    {% dnd_section full_width=true %}
      {% dnd_module path='../modules/Banner', width=12, offset=0, label="" %}
      {% end_dnd_module %}
    {% end_dnd_section %}   
  {% end_dnd_area %}
</div>
{% endif %}
<main class="body-container-wrapper {{ singleClass }}">
  {% if dynamic_page_hubdb_row %}
    {# *****************++++***************** Modulo de ficha - ficha-producto ****************************** #}
    {% include "/FontPackagingGroup_April2021/templates/partials/product-single.html" %}
  
  {% elif dynamic_page_hubdb_table_id %}
    {# *****************++++***************** Modulo de listado - listado-productos ****************************** #}
    <div class="container">
      {% module "module_163820499895514" path="/FontPackagingGroup_April2021/modules/listado-productos-sectores", label="listado-productos-sectores" %}
    </div>
  {% endif %}   
  
</main>
{% endblock body %}
