<!--
  templateType: page
  isAvailableForNewContent: true
  label: Website Page
-->
{% extends "./layouts/base.html" %}

{% block body %}
<div class="banner-section">
  {% dnd_area "DND_banner" class='banner-area', label='Banner Section' %}
    {% dnd_section full_width=true %}
      {% dnd_module path='../modules/Banner', width=12, offset=0, label="" %}
      {% end_dnd_module %}
    {% end_dnd_section %}   
  {% end_dnd_area %}
</div>
<main class="body-container-wrapper">
  {% set placeholder = {
    'src': get_asset_url('../images/grayscale-mountain.png'),
    'alt': 'Stock placeholder image with grayscale geometrical mountain landscape',
    'size_type': 'auto'
  }
  %}
  {% dnd_area "dnd_area" class='body-container body-container__website', label='Main section' %}
  {% dnd_section vertical_alignment='MIDDLE' %}
    {% dnd_module path='@hubspot/linked_image',
      width=6,
      img= {{ placeholder }}
    %}
    {% end_dnd_module %}
    {% dnd_column width=6, offset=6 %}
      {% dnd_row %}
        {% dnd_module path='@hubspot/rich_text' %}
          {% module_attribute "html"%}
          <h2>Something Powerful</h2>
          <h3>Tell The Reader More</h3>
          <p>The headline and subheader tells us what you're <a href="#">offering</a>, and the form header closes the deal. Over here you can explain why your offer is so great it's worth filling out a form for.</p>
          <p>Remember:</p>
          <ul>
          <li>Bullets are great</li>
          <li>For spelling out <a href="#">benefits</a> and</li>
          <li>Turning visitors into leads.</li>
          </ul>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {% dnd_section vertical_alignment='MIDDLE' %}
    {% dnd_column width=4 %}
      {% dnd_row %}
        {% dnd_module path='@hubspot/linked_image', img= {{ placeholder }} %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path='@hubspot/rich_text'%}
          {% module_attribute "html"%}
            <h3>Feature one</h3>
            <p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column width=4, offset=4 %}
      {% dnd_row %}
        {% dnd_module path='@hubspot/linked_image', img= {{ placeholder }} %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path='@hubspot/rich_text' %}
          {% module_attribute "html"%}
            <h3>Feature two</h3>
            <p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column width=4, offset=8 %}
      {% dnd_row %}
        {% dnd_module path='@hubspot/linked_image', img={{ placeholder }} %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path='@hubspot/rich_text' %}
          {% module_attribute "html"%}
            <h3>Feature three</h3>
            <p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}
{% end_dnd_area %}

</main>
{% endblock body %}
