<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<section class="custom-object-section pedidos_section">
    <!-- <div class="overlay-popup"></div> -->
    <div class="content-wrapper">
        <div class="breadcrumbs_container">
            <div class="breadcrumbs-wrapper">
                <div class="breadcrumbs-vertical_line">
                </div>
                <div class="breadcrumbs-content">
                    <span class="bread-title"><a href="https://fontpackaging.com/dashboard">
                            Inicio
                        </a></span>
                    <span class="breadcrumbs_dot">
                    </span>
                    <span class="breadcrumbs">
                        Pedidos
                    </span>
                </div>
            </div>
        </div>
        <div class="title_container">
            <div class="title_wrapper">
                <h2>
                    Pedidos:
                </h2>
                <div class="contact_container">
                    <div class="breadcrumbs-vertical_line">
                    </div>
                    <p>{{contact.firstname}}</p>
                </div>

            </div>
            <div class="fliter_search-container">
                <div class="filter_container">
                    <p>
                        Filtrar por:
                    </p>
                    <div class="filter_dropdown">
                        <select id="dropdown" class="filter-dropdown">
                            <option value="empresa" selected>Empresa</option>
                            <option value="font">Font</option>
                            <option value="troquel">Troquel</option>
                        </select>
                    </div>

                </div>
                <div class="search_container">
                    <div class="search-wrapper">
                        <input type="text" id="searchBar">
                        <div class="search-icon-container">
                            <img src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/Union%20(1).svg"
                                alt="search">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="table_container-pedidos">
            <div id="loader" class="loader"></div>
        </div>
        <div class="pedidos-popup-container" id="modal">
            <div class="pedidos-popup">
                <div class="pedidos-form_container">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim.
                    </p>
                    <div class="popup-form">
                        <form id="update-date">
                            <!-- <div class="popup-form_conatiner">
                                <div class="popup-form_column">
                                    <lable>
                                        ID Pedido Font *
                                    </lable>
                                    <input type="text" required>
                                </div>
                                <div class="popup-form_column">
                                    <lable>
                                        ID Cliente Font
                                    </lable>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="popup-form_conatiner">
                                <div class="popup-form_column">
                                    <lable>
                                        ID Artículo *
                                    </lable>
                                    <input type="text" required>
                                </div>

                                <div class="popup-form_column">
                                    <lable>
                                        Cantidad Pedido *
                                    </lable>
                                    <input type="text" required>
                                </div>
                            </div> -->
                            <div class="popup-form_conatiner">
                                <!-- <div class="popup-form_column">
                                    <lable>
                                        Nombre * </lable>
                                    <input type="text" required>
                                </div> -->

                                <div class="popup-form_column">
                                    <lable>
                                        Nueva fecha de entrega * </lable>
                                    <input type="date" required placeholder="DD/MM/AA" id="date" class="date-attribute">
                                </div>
                            </div>

                            <!-- <div class="popup-checkbox">
                                <div class="popup_checkbox-wrapper">
                                    <input type="checkbox">
                                    <label for="">Lorem ipsum dolor sit amet, <a href="">
                                            lorem ipsum*
                                        </a>
                                    </label>
                                </div>
                                <div class="popup_checkbox-wrapper">
                                    <input type="checkbox">
                                    <label for="">Lorem ipsum dolor sit amet, <a href="">
                                            lorem ipsum*
                                        </a>
                                    </label>
                                </div>
                            </div> -->
                            <div class="form-button">
                                <button type="submit">
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="pedidos-track-popup-container" id="track-modal">
            <div class="pedidos-popup">
                <div class="pedidos-form_container">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim.
                    </p>
                    <div class="popup-form">
                        <form action="">
                            <div class="popup-form_conatiner">
                                <div class="popup-form_track">
                                    <label for="checkbox">
                                        Tracking
                                    </label>
                                    <input type="checkbox" name="track" class="track" id="checkbox">
                                </div>
                            </div>
                            <div class="form-button">
                                <button type="submit">
                                    Enviar
                                </button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="pagination-container"></div>
    </div>
</section>