.single-data_pedidos {
    display: flex;
    flex-direction: column;
    gap: 3px;

}

#table_container-pedidos {
    margin: 50px 0;

}

.table_wrapper-pedidos {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.data_pedidos {
    display: grid;
    gap: 0.66%;
    grid-template-columns: 15% 15% 15% 15% 15% 16% 5%;
    justify-content: center;
    padding: 20px 0;
    padding-inline: 15px;
    border-bottom: 1.5px solid #3C425E;
}

.padidos-title {
    font-weight: 600;
}

.single-data_pedidos span {
    color: #3C425E;
    word-break: break-all;
    text-wrap: balance;

}


.status-container {
    display: flex;
    gap: 2%;
    align-items: center;
}

.status {
    width: 13px;
    height: 13px;
    background: #05FF00;
    border-radius: 100%;
}

.accordion {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.accordion img {
    width: 15px;
    height: 15px;
    object-fit: cover;
}


.accordion-header {
    background-color: #3C425E;
    transition: 0.2s;
}

.accordion-header .single-data_pedidos span {
    color: #ffff;
}

.accordion-container {
    display: none;
}

.accordion-item {
    display: flex;
    gap: 20px;
}

.accordion-container-wrapper {
    display: grid;
    grid-template-columns: 48% 48%;
    border-bottom: 1px solid #EAEAEA;
    gap: 4%;
    padding-bottom: 30px;
}

.active-accordion {
    padding-inline: 15px;
    display: block;
    margin: 30px 0 0;
    padding-inline: 15px;
}

.accordion-column {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.accordion-item_title {
    width: 45%;
    font-weight: 600;
}

.accordion-item_span {
    width: 100%;
}

.accordion-button-container {
    display: flex;
    gap: 20px;
    padding: 20px 0px;
}

.button-accordin,
.popup-modal {
    background-color: #449ABC;
    outline: none;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

/* popup */

.pedidos-form_container {
    padding: 25px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}

.pedidos-popup {
    background: #fff;
    border-radius: 10px;
    left: 50%;
    padding: 25px;

}

.popup-form_track {
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row-reverse;
    /* justify-content: center; */
}

.popup-form_column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.popup-form_conatiner {
    display: flex;
    gap: 20px;
}

.popup-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin-top: 25px;
}

.pedidos-form_container p {
    font-size: 14px;
}

.popup-form_column input {
    padding: 8px 4px;
    outline: none;
    border: 1px solid #EAEAEA;
}

.popup-form_column input::placeholder {
    color: #EAEAEA;

}

.popup_checkbox-wrapper {
    display: flex;
    width: 100%;
    gap: 10px;
}

.popup-checkbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-button button {
    background-color: #449ABC;
    outline: none;
    border: none;
    padding: 8px 25px;
    color: #ffff;
    cursor: pointer;
}


.form-button {
    margin-top: 20px;
}

.pedidos-popup-container,
.pedidos-track-popup-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.show-element {
    display: none;
}

.pedidos-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bold-item{
    font-weight: 600;
}

@media(max-width:728px) {
    .accordion-button-container {
        gap: 18px;
        flex-wrap: wrap;
    }
}

@media(max-width:650px) {
    .data_pedidos {
        position: relative;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .accorion-div {
        position: absolute;
        right: 12px;
        top: 20px;

    }

    .estado-container {
        width: 48% !important;
    }

    .show-element {
        display: flex;
    }

    .accordion-container-wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .accordion-item_title {
        width: 100%;
    }

    .hide-elements {
        display: none;
    }

    .accorion-div {
        position: absolute;
        right: 12px;
        top: 20px;

    }

}

@media(max-width:570px) {
    /* .combaine_conatiner {
        display: flex;
        width: 400px;
    }

    .data_pedidos {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .single-data_pedidos {
        width: calc(50% - 8px);

    }

    .accordion {
        display: flex;
    } */

}

@media(max-width:495px) {

    .button-accordin,
    .popup-modal,
    .accordion-button-wrapper {
        width: 100%;
    }

    .pedidos-popup {
        width: 80%;

    }

}