{% if module.logo.src %}
<a href="{{ module.logo_link }}"><img src="{{ module.logo.src }}" alt="{{ module.logo.alt }}"></a>
{% else %}
<img src="{{site_settings.logo_src }}" alt="{{ module.logo_alt }}">
{% endif %}