.dashboard_content p,
.dashboard_content h2 {
    margin: 0;
    
}

.dashboard_content h2{
    font-weight: 600 !important;
}

.dashboard_content {
    text-align: center;
    padding: 20px;
}

.dash_main-container{
    padding: 30px 0 0;
}

.dashboard_content p{
    margin: auto;
    width: 60%;
    padding: 10px 0;
}

.dashboard_content h5{
    font-weight: 600;
    font-size: 13px;
    margin: 0;
}

@media (max-width: 768px){
    .dashboard_content p{
        width: 100%;
        margin: initial;
    }
}