<!-- module html  -->
<section class="dash_main-container">
    <div class="content-wrapper">
        <div class="dashboard_content">
            <h2>
                {{ module.title }}
            </h2>
            <p>
                {{ module.description }} </p>

            <h5>
                {{ module.sub_title }}
            </h5>
        </div>

    </div>
</section>