<div class="recent-posts">
  {% set rec_posts = blog_recent_posts('default', 3) %}
  {% for rec_post in rec_posts %}

  <div class="recent-post">
    <a href="{{ rec_post.absolute_url }}">
      <div class="featured_image_recent" style="background-image: url({{ rec_post.featured_image }})">
        {% if rec_post.featured_image %}
        {% endif %}
      </div>
    </a>

    <a href="{{ rec_post.absolute_url }}" class="post-title">
      <h5>
        {{ rec_post.name }}
      </h5>
    </a>
    <p>{{ rec_post.post_list_content|safe|striptags|truncate(200, false, '[...]') }}</p>
  </div>

  {% endfor %}

</div>