.recent-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
  grid-gap: 40px;
  text-align: left;
  margin-top: 20px;
}
.recent-posts img {
  max-width: 100%;
}
.recent-posts .featured_image_recent {
  background-size: cover;
  width: 100%;
  height: 220px;
  background-position: center center;
}
.recent-posts .post-title {
    display: block;
    min-height: 40px;
    font-size: 21px;
}
.recent-post p {
    font-size: 16px;
}
@media (max-width: 480px) {
    .recent-posts {
      grid-template-columns: 1fr!important;
      grid-gap: 20px;
  }
}