<!-- module html  -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div>
  <div class="head-sec">
    <h3>Presupuestos:</h3>
    <p>|  {{contact.firstname}}</p>
  </div>
  <div>
    <span>Filtrar por:</span>
    <select id="dropdown">
      <option value="empresa" selected>Empresa</option>
      <option value="font">Font</option>
      <option value="troquel">Troquel</option>
    </select>
  </div>
</div>
<!-- Move the search bar here and add a style to align it to the right -->
<div style="text-align: right;">
  <input type="text" id="searchBar" placeholder="Search...">
</div>
  <table id="data-table">
    
    <thead>
      <tr>
        <th>Empresa</th>
        <th>ID Presupuesto</th>
        <th>Titulo</th>
        <th>Fecha</th>   
        <th>ID Cliente</th>   
        <th>Descarga</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div>
    <button id="prev">
      prev
    </button>
    <button id="next">
      next
    </button>
  </div>
