<!-- module html  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<section class="custom-object-section">
  <div class="content-wrapper">
    <div class="breadcrumbs_container">
      <div class="breadcrumbs-wrapper">
        <div class="breadcrumbs-vertical_line">
        </div>
        <div class="breadcrumbs-content">
          <span class="bread-title"><a href="https://fontpackaging.com/dashboard">
              {{ module.inicio_text }}
            </a></span>
          <span class="breadcrumbs_dot">

          </span>
          <span class="breadcrumbs">
            {{ module.title }}
          </span>
        </div>
      </div>
    </div>
    <div class="title_container">
      <div class="title_wrapper">
        <h2>
          {{ module.title }}:
        </h2>
        <div class="contact_container">
          <div class="breadcrumbs-vertical_line">
          </div>
          <p>{{contact.firstname}}</p>
        </div>

      </div>
      <div class="fliter_search-container filter-search-document">
        <div class="filter_documnet-container ">
          <p>
            {{ module.filter_title_text }}
          </p>
          <div class="document-filter-wrapper">
            <div class="filter_dropdown">
              <select id="dropdown" class="filter-dropdown">
                <option value="empresa" selected>{{ module.drop_down_for_document.drop_down_default_text }}</option>
                <option value="font">{{ module.drop_down_for_document.drop_down_first_text }}</option>
                <option value="troquel">{{ module.drop_down_for_document.drop_down_second_text }}</option>
              </select>
            </div>
            <div class="filter_dropdown">
              <select id="dropdown_1" class="filter-dropdown">
                <option value="empresa" selected>{{ module.drop_down.drop_down_default_text }}</option>
                <option value="ascending">{{ module.drop_down.drop_down_first_text }}</option>
                <option value="descending">{{ module.drop_down.drop_down_second_text }}</option>
              </select>
            </div>
          </div>

        </div>
        <div class="document-search-container">
          <div class="document-elminator">
            <div class="breadcrumbs-vertical_line">
            </div>
            <span class="bread-title">
              Eliminar filtros </span>

          </div>
          <div class="search_container">
            <div class="search-wrapper">
              <input type="text" id="searchBar" name="search" placeholder="Nombre">
              <div class="search-icon-container">

                <img
                  src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/Union%20(1).svg"
                  alt="search">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="document-selection">

        <p>{{ module.counter }} <span id="counter">0</span></p>
        <div>
          <a href="#" id="downloadAll" class="documnet-download">
            <img
              src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/Vector%20(1).svg"
              alt="" srcset="">
            <span>{{ module.download_zip }}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="table-main_container">

      <div class="table_container">
        {% set limit = 5 %}
        {% set offset = 0 %}
        {% set search = "" %}
        {% set orderBy = "" %}
        {% set docType = "" %} 
        {% if request.query_dict.offset %}
        {% set offset = request.query_dict.offset %}
        {% endif %}
        {% if request.query_dict.search %}
        {% set search = request.query_dict.search %}
        {% endif %}
        {% if request.query_dict.orderBy %}
        {% set orderBy = request.query_dict.orderBy %}
        {% endif %}
        {% if request.query_dict.docType %} 
        {% set docType = request.query_dict.docType %}
        {% endif %}
    

        <div class="">
          <div class="table-document-wrapper table-title">
            <span><input type="checkbox" id="selectAll"></span>
            <span>Nombre</span>
            <span>Tamano</span>
            <span>Tipo</span>
            <span>Fecha</span>
            <span>Descarga</span>
          </div>
          <div class="table_container-document">
            {% set query = "name__icontains=" ~ search ~ "&limit=" ~ limit ~ "&offset=" ~ offset ~ "&orderBy=" ~ orderBy %}
            {% if docType %} 
            {% set query = query ~ "&tipo_de_documento__icontains=" ~ docType %}
            {% endif %}

            {% for row in hubdb_table_rows('16320589', query) %}
            <div class="table-wrapper-document">
              <span><input type="checkbox" name="selected" class="selectRow"></span>
              <span class="row_name" data-name="{{ row.name }}">{{ row.name }}</span>
              <span>{{ row.tamano }}</span>
              <span>{{ row.tipo }}</span>
              <span>{{ row.fecha|datetimeformat('%B %e, %Y') }}</span>
              
              <div class="download-document">
               
                <a href="#">
                  {% if row.descarga %}
                  <img class="download-image download_pdf" data-url="{{ row.descarga }}" data-name="{{ row.name }}"
                    src="https://9149224.fs1.hubspotusercontent-na1.net/hubfs/9149224/Area%20privada%20-%20FONT/Vector%20(1).svg"
                    alt="download-document">
                    {% endif %}
                </a>
                
              </div>
            </div>

            {% endfor %}
          </div>

          {% set filterQuery = "name__icontains=" ~ search ~ "&offset=" ~ offset %}
          {% set all_rows = hubdb_table_rows('16320589', filterQuery) %}
          {% set totalRows = all_rows|length %}
          {% set totalPages = totalRows / limit %}
          {% set currentPage = offset / limit + 1 %}
          {% set pageRange = 2 %}


        </div>
      </div>
    </div>
    <div class="pagination">
      {% for i in range(1, totalPages + 1) %}
      {% if totalRows > 5 or (totalRows <= 5 and i <= currentPage) %}
      {% if i >= currentPage - pageRange and i <= currentPage + pageRange %}
      {% if i == currentPage %}
      <button class="active">{{ i }}</button>
      {% else %}
      {% if search != "" %}
      <a href="?search={{ search }}&offset={{ (i - 1) * limit }}">{{ i }}</a>
      {% else %}
      <a href="?offset={{ (i - 1) * limit }}">{{ i }}</a>
      {% endif %}
      {% endif %}
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>