.banner-group {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
  min-height: 400px;
}

@media(max-width:1200px){
  .banner-group{
    min-height: 387px;
  }
}

@media(max-width:1024px){
  .banner-group{
    min-height: 330px;
  }
}

@media(max-width:992px){
  .banner-group{
    min-height: 320px;
  }
}

@media(max-width:767px){
  .banner-group{
    min-height: 248px;
  }
}
